@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.articleNewsItem {
	color: #ffffff;

	.articleNewsItemContent {
		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 25px;
			margin-bottom: 40px;
		}
	}

	.image {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 210px;
		}
	}

	.text {
		margin: 35px 0 0 0;
		float: left;
		width: 50%;
		padding-right: 2%;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			padding-right: 0;
			float: none;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 25px;
		}

		.content {

			font-size: 12px;
			line-height: 20px;

			img {
				margin: 12px 0;
				max-width: 100% !important;
			}
		}
	}

	.info {
		color: #808080;
		font-size: 12px;
		line-height: 1.5;
		float: left;
		margin-top: 35px;
		width: 50%;
		padding-top: 10px;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			float: none;
		}

		.date {
			float: left;
			font-size: 12px;
		}
		.comments {
			float: left;
			margin-left: 20px;
		}

		.commentsAmount {
			margin-left: 5px;
		}

		.commentariesWrapper {
			padding-top: 20px;

			.commentaryItem {
				padding: 20px 0;
				border-bottom: 1px solid #1a1a1a;

				.author {
					color: #ffffff;
					font-size: 16px;
					margin-bottom: 10px;
				}
				.content {
					color: #ffffff;
					font-size: 12px;
					line-height: 1.6;
					margin-bottom: 5px;
				}
			}

			& .commentaryItem:first-child {
				border-top: 1px solid #1a1a1a;

			}
		}

		.addCommentary {
			width: 100%;
			position: relative;
			margin: 0 auto;
			color: #FFFFFF;

			h1 {
				font-size: 26px;
				margin: 0 0 20px;
			}

			textarea {
				width: 100%;
				background: none;
				border: 2px solid #ffffff;
				box-sizing: border-box;
				padding: 10px;
				color: #FFFFFF;
				line-height: 1.4;

				&:disabled {
					border: 2px solid #333333;
				}
			}

			.transparentBordered {

				font-size: 16px;
				color: #ffffff;
				margin-top: 10px;
				border: none;
				padding: 0;

				&:hover {
					cursor: pointer;
					color: #c49a6c;
					text-decoration: underline;
				}

				&:disabled {
					color: #333333;
					border: none;

					&:hover {
						background: none;
						cursor: default;
					}
				}
			}

			.authBtn {
				float: left;
				margin-right: 10px;
			}
			button.transparentBordered {
				float: right;
				margin-top: 15px;

			}
		}
	}

	.buttons {
		margin: 77px 0 0 0;
		text-align: center;

		.transparentBordered {

			font-size: 16px;
/*			padding: 3px 9px;*/
/*			border: 2px solid #ffffff;*/
			color: #ffffff;
			@include transition(all 0.2s ease-in-out 0s);

			&:hover {
				cursor: pointer;
/*				background: #ffffff;*/
				color: #c49a6c;
/*				border-color: #000000;*/
			}
		}
	}
}

.articleExpertItem {
	.text h1 {
		margin-bottom: 15px;
	}
	 h2.author {
		 color: #c49a6c;
		 margin-bottom: 43px;
	 }

	.info {
		margin-top: 130px;

	}

	.buttons {
		text-align: left;
	}

	.askExpertWrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		h1 {
			font-size: 26px;
			margin-bottom: 50px;
		}

		.askExpertBackground {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}

		.closeAskExpertBtn {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 19px;
			height: 19px;
			opacity: 0.8;
			@include transition(opacity 150ms ease-in-out 0s);

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		.askExpertFormWrap, .askExpertErrorWrap {
			position: absolute;
			width: 610px;
			background: #000;
			left: 50%;
			top: 50%;
			margin-top: -154px;
			margin-left: -305px;
			color: #FFFFFF;
			padding: 35px 125px;
			text-align: center;
			box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
			@include transition(box-shadow 150ms ease-in-out 0s);

			.askExpertForm {
				width: 100%;

				textarea {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-transform: uppercase;
					text-align: center;
					padding: 7px;
					margin-bottom: 24px;
					width: 100%;
				}

				.transparentBordered {
					padding: 3px 25px;
				}
			}

			.content {
				margin-bottom: 50px;
			}

			.transparentBordered {
				font-size: 16px;
				padding: 3px 9px;
				border: 2px solid #ffffff;
				color: #ffffff;
				margin: 0 15px;
				@include transition (all 0.2s ease-in-out 0s);

				&:hover {
					cursor: pointer;
					background: #ffffff;
					color: #000000;
					border-color: #000000;
				}
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.articleNewsItem {

		.image {
			height: 285px;
		}

		.text {
			width: 100%;
			padding-right: 0;
			float: none;

			.content {

				img {
					max-width: 100%;
				}
			}
		}

		.info {
			width: 100%;
			float: none;
		}
	}

	.articleExpertItem {

		.info {
			margin-top: 30px;
			padding-top: 30px;
			border-top: 1px solid #333333;
		}

		.buttons {
			text-align: center;
		}
	}
}