.feedbackWrapper .feedbackBackground, .feedbackWrapper .feedbackList .feedbackItem .avatar, .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent .content blockquote:before {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.feedbackWrapper {
  width: 100%;
  position: relative; }
  @media (min-width: 320px) and (max-width: 767px) {
    .feedbackWrapper .feedbackContent {
      padding: 0 25px;
      margin-bottom: 45px; } }
  .feedbackWrapper .feedbackBackground {
    width: 100%;
    height: 357px;
    background-image: url("/img/feedbackBackground.jpg"); }
    @media (min-width: 320px) and (max-width: 767px) {
      .feedbackWrapper .feedbackBackground {
        height: 180px; } }
  .feedbackWrapper .moduleMainHeader {
    font-size: 26px;
    color: #515151;
    margin: 35px 0 50px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .feedbackWrapper .moduleMainHeader {
        margin: 35px 0; } }
  .feedbackWrapper .feedbackList {
    position: relative; }
    .feedbackWrapper .feedbackList .feedbackItem {
      position: relative;
      color: #FFFFFF;
      margin-bottom: 55px; }
      .feedbackWrapper .feedbackList .feedbackItem .avatar {
        float: left;
        width: 160px;
        height: 160px;
        margin-right: 35px; }
        @media (min-width: 320px) and (max-width: 767px) {
          .feedbackWrapper .feedbackList .feedbackItem .avatar {
            width: 100px;
            height: 100px; } }
      .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent {
        float: left;
        width: 829px; }
        @media (min-width: 320px) and (max-width: 767px) {
          .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent {
            width: 63%; } }
        .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent .head {
          position: relative;
          width: 100%;
          margin-bottom: 20px; }
          .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent .head .authorName {
            float: left; }
          .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent .head .date {
            float: right;
            color: #333333;
            font-size: 12px; }
        .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent .content {
          position: relative; }
          .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent .content blockquote {
            padding: 0 0 0 40px;
            font-size: 12px;
            line-height: 1.8;
            position: relative; }
            .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent .content blockquote:before {
              content: '';
              width: 34px;
              height: 33px;
              position: absolute;
              top: 0;
              left: -5px;
              background-image: url("/img/blockquote.png"); }
  .feedbackWrapper .moreFeedbackWrapper {
    position: relative;
    text-align: center;
    margin-bottom: 80px;
    display: none; }
    .feedbackWrapper .moreFeedbackWrapper .transparentBordered {
      position: relative;
      border: none;
      font-size: 16px;
      padding: 3px 12px;
      color: #ffffff; }
      .feedbackWrapper .moreFeedbackWrapper .transparentBordered:hover {
        cursor: pointer;
        color: #c49a6c;
        text-decoration: underline; }
  .feedbackWrapper .sendFeedback {
    width: 570px;
    position: relative;
    margin: 0 auto;
    color: #FFFFFF; }
    @media (min-width: 320px) and (max-width: 767px) {
      .feedbackWrapper .sendFeedback {
        width: 100%; } }
    .feedbackWrapper .sendFeedback h1 {
      font-size: 26px;
      margin: 0 0 20px; }
    .feedbackWrapper .sendFeedback textarea {
      width: 100%;
      background: none;
      border: none;
      box-sizing: border-box;
      padding: 10px;
      color: #FFFFFF;
      line-height: 1.4; }
    .feedbackWrapper .sendFeedback .transparentBordered {
      font-size: 16px;
      padding: 3px 9px;
      border: none;
      color: #ffffff;
      float: right;
      margin-top: 10px; }
      .feedbackWrapper .sendFeedback .transparentBordered:hover {
        cursor: pointer;
        color: #c49a6c;
        text-decoration: underline; }
      .feedbackWrapper .sendFeedback .transparentBordered:disabled {
        color: #333333;
        border: none; }
        .feedbackWrapper .sendFeedback .transparentBordered:disabled:hover {
          background: none;
          cursor: default; }
    .feedbackWrapper .sendFeedback button {
      float: right; }
    .feedbackWrapper .sendFeedback .commentBtn {
      float: left;
      padding: 4px 9px;
      margin-right: 10px; }

@media (min-width: 768px) and (max-width: 1050px) {
  .feedbackWrapper .feedbackBackground {
    height: 285px; }
  .feedbackWrapper .feedbackList .feedbackItem .feedbackItemContent {
    width: 493px; } }

/*# sourceMappingURL=feedback.css.map */
