@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.clear {
	clear: both;
}

.productCategories {

	$productCategoryWidth: 248px;
	$productCategoryHeight: 316px;
	$margin: 10px;
	$tileMargin: 10px;

	@media (min-width: 320px) and (max-width: 767px) {
		font-size: 12px;
	}

	.productCategoriesContent {
		@media (min-width: 320px) and (max-width: 767px) {
			width: 470px;
			margin: 0 auto;
		}
	}

	.mr {
		margin-right: $tileMargin;
	}
	.ml {
		margin-left: $tileMargin;
	}
	.mb {
		margin-bottom: $tileMargin;
	}

	.smColumn {
		float: left;
		width: 258px;
		margin-bottom: $tileMargin;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 176px;
		}

		.header {
			padding: 20px;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.5);
		}

		> .tileItem {
			@extend %bg-image-cover;
			position: relative;
			overflow: hidden;

			.tileBg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				@include transition(transform 300ms ease-in-out 0s);
			}

			.darkBg {
				background-color: rgba(0, 0, 0, 0.2) !important;
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			&:hover {
				cursor: pointer;

				.transparentBordered {
					background: #FFFFFF;
					border: 2px solid #ffffff !important;
				}

				h1, .header {
					color: #ffffff !important;
				}


				.tileBg {
					@include transform(scale(1.05));

					.darkBg {
						opacity: 1;
					}
				}
			}

			@media (min-width: 1024px) {
				&:nth-child(1) {
					width: 100%;
					height: 364px;
					margin-bottom: $tileMargin;
				}
				&:nth-child(2) {
					width: 100%;
					height: 351px;
				}
			}
		}


	}

	.tileBg {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: bottom right;
	}

	.lgColumn {
		float: left;
		margin-bottom: $tileMargin;
		width: 756px;

		@media (min-width: 768px) and (max-width: 1050px) {
			width: 419px;
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 283px;
		}

		> .tileItem {
			position: relative;
			overflow: hidden;
			float: left;

			.tileBg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				@include transition(transform 300ms ease-in-out 0s);
			}

			.darkBg {
				background-color: rgba(0, 0, 0, 0.2) !important;
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			@media (min-width: 1024px) {
				&:nth-child(1) {
					width: 426px;
					height: 227px;
					margin-right: $tileMargin;
					margin-bottom: $tileMargin;
				}
				&:nth-child(2) {
					width: 320px;
					height: 227px;
					margin-bottom: $tileMargin;
				}
				&:nth-child(3) {
					width: 371px;
					height: 209px;
					margin-right: $tileMargin;
					margin-bottom: $tileMargin;
				}
				&:nth-child(4) {
					width: 375px;
					height: 209px;
					margin-bottom: $tileMargin;
				}
				&:nth-child(5) {
					width: 428px;
					height: 269px;
					margin-right: $tileMargin;
				}
				&:nth-child(6) {
					width: 318px;
					height: 269px;
				}
			}

			@media (min-width: 768px) {
				&:hover {
					cursor: pointer;

					.transparentBordered {
						background: #FFFFFF;
						border: 2px solid #ffffff !important;
					}

					h1, .header {
						color: #ffffff !important;
					}


					.tileBg {
						@include transform(scale(1.05));

						.darkBg {
							opacity: 1;
						}
					}
				}
			}
		}

		.header {
			padding: 20px;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.5);
		}


	}

	.fullColumn {

		> .tileItem {
			position: relative;
			overflow: hidden;

			.tileBg {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				z-index: -1;
				@include transition(transform 300ms ease-in-out 0s);
			}

			.darkBg {
				background-color: rgba(0, 0, 0, 0.2) !important;
				opacity: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			@media (min-width: 768px) {
				&:hover {
					cursor: pointer;

					.transparentBordered {
						background: #FFFFFF;
						border: 2px solid #ffffff !important;
					}

					h1, .header {
						color: #ffffff !important;
					}


					.tileBg {
						@include transform(scale(1.05));

						.darkBg {
							opacity: 1;
						}
					}
				}
			}
		}

		.header {
			padding: 20px;
			text-transform: uppercase;
			color: rgba(255, 255, 255, 0.5);
		}
	}

	.productCategory {
		position: relative;
		float: left;
		width: $productCategoryWidth;
		height: $productCategoryHeight;
		@extend %bg-image-cover;
		margin: 0 $margin $margin 0;
		text-transform: uppercase;
		padding: 20px;
		box-sizing: border-box;
		opacity: 1;
		@include transition(opacity 150ms ease-in-out 0s);
		overflow: hidden;

		.header {
			line-height: 1.2;
			@include transition(color 150ms ease-in-out 0s);
		}

		.tileBg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@extend %bg-image-cover;
			z-index: -1;
			@include transition(transform 300ms ease-in-out 0s);
		}

		.darkBg {
			background-color: rgba(0, 0, 0, 0.2) !important;
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		@media (min-width: 768px) {
			&:hover {
				cursor: pointer;

				.transparentBordered {
					background: #FFFFFF;
					border: 2px solid #ffffff !important;
				}

				h1, .header {
					color: #ffffff !important;
				}


				.tileBg {
					@include transform(scale(1.05));

					.darkBg {
						opacity: 1;
					}
				}
			}
		}
	}

	&Content {

		.smColumn {
			&.first {
				.tileItem {
					&:nth-child(1) {
						height: 346px;
						width: 258px;
						margin-bottom: $tileMargin;

						@media (min-width: 320px) and (max-width: 767px) {
							width: 176px;
							height: 235px;
						}
					}
					&:nth-child(2) {
						height: 346px;
						width: 258px;

						@media (min-width: 320px) and (max-width: 767px) {
							width: 176px;
							height: 234px;
						}
					}
				}
			}
			&.second {
				.tileItem {
					&:nth-child(1) {
						height: 227px;
						width: 258px;

						@media (min-width: 320px) and (max-width: 767px) {
							height: 153px;
							width: 176px;
						}
					}
					&:nth-child(2) {
						height: 346px;
						width: 258px;

						@media (min-width: 320px) and (max-width: 767px) {

						}
					}
				}
			}
			&.third {
				.tileItem {
					width: 258px;
					height: 227px;

					@media (min-width: 320px) and (max-width: 767px) {
						height: 153px;
						width: 176px;
					}
				}
			}
		}

		.lgColumn {
			.tileItem {
				width: 419px;
				height: 227px;
				float: left;

				@media (min-width: 320px) and (max-width: 767px) {
					width: 283px;
					height: 153px;
				}
			}
		}

		.fullColumn {
			&.first {
				.tileItem {
					&:nth-child(1) {
						width: 339px;
						height: 280px;
						float: left;
						margin-right: $tileMargin;

						@media (min-width: 320px) and (max-width: 767px) {
							width: 230px;
							height: 180px;
						}
					}
					&:nth-child(2) {
						width: 339px;
						height: 280px;
						float: left;

						@media (min-width: 320px) and (max-width: 767px) {
							width: 230px;
							height: 180px;
						}
					}
				}
			}
			&.second {
				.tileItem {
					width: 222px;
					height: 228px;
					float: left;

					@media (min-width: 320px) and (max-width: 767px) {
						width: 150px;
						height: 155px;
					}
				}
			}
			&.third {
				.tileItem {
					width: 339px;
					height: 227px;
					float: left;

					@media (min-width: 320px) and (max-width: 767px) {
						width: 230px;
						height: 180px;
					}
				}
			}
		}
	}

}

@media (min-width: 1051px) {

	.productCategories {
		$productCategoryWidth: 248px;
		$margin: 10px;

		.productCategory {
			width: $productCategoryWidth;
		}

		& .productCategory:nth-child(4n) {
			margin-right: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.productCategories {
		$productCategoryWidth: 324px;
		$productCategoryHeight: 319px;
		$margin: 40px;

		.productCategory {
			width: $productCategoryWidth;
			margin: 0 $margin $margin 0;
		}

		& .productCategory:nth-child(2n) {
			margin-right: 0;
		}
	}
}