.productCategories .smColumn > .tileItem, .productCategories .productCategory, .productCategories .productCategory .tileBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.clear {
  clear: both; }

@media (min-width: 320px) and (max-width: 767px) {
  .productCategories {
    font-size: 12px; } }
@media (min-width: 320px) and (max-width: 767px) {
  .productCategories .productCategoriesContent {
    width: 470px;
    margin: 0 auto; } }
.productCategories .mr {
  margin-right: 10px; }
.productCategories .ml {
  margin-left: 10px; }
.productCategories .mb {
  margin-bottom: 10px; }
.productCategories .smColumn {
  float: left;
  width: 258px;
  margin-bottom: 10px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategories .smColumn {
      width: 176px; } }
  .productCategories .smColumn .header {
    padding: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5); }
  .productCategories .smColumn > .tileItem {
    position: relative;
    overflow: hidden; }
    .productCategories .smColumn > .tileItem .tileBg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
      -moz-transition: -moz-transform 300ms ease-in-out 0s;
      transition: transform 300ms ease-in-out 0s; }
    .productCategories .smColumn > .tileItem .darkBg {
      background-color: rgba(0, 0, 0, 0.2) !important;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    .productCategories .smColumn > .tileItem:hover {
      cursor: pointer; }
      .productCategories .smColumn > .tileItem:hover .transparentBordered {
        background: #FFFFFF;
        border: 2px solid #ffffff !important; }
      .productCategories .smColumn > .tileItem:hover h1, .productCategories .smColumn > .tileItem:hover .header {
        color: #ffffff !important; }
      .productCategories .smColumn > .tileItem:hover .tileBg {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
        .productCategories .smColumn > .tileItem:hover .tileBg .darkBg {
          opacity: 1; }
    @media (min-width: 1024px) {
      .productCategories .smColumn > .tileItem:nth-child(1) {
        width: 100%;
        height: 364px;
        margin-bottom: 10px; }
      .productCategories .smColumn > .tileItem:nth-child(2) {
        width: 100%;
        height: 351px; } }
.productCategories .tileBg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right; }
.productCategories .lgColumn {
  float: left;
  margin-bottom: 10px;
  width: 756px; }
  @media (min-width: 768px) and (max-width: 1050px) {
    .productCategories .lgColumn {
      width: 419px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategories .lgColumn {
      width: 283px; } }
  .productCategories .lgColumn > .tileItem {
    position: relative;
    overflow: hidden;
    float: left; }
    .productCategories .lgColumn > .tileItem .tileBg {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
      -moz-transition: -moz-transform 300ms ease-in-out 0s;
      transition: transform 300ms ease-in-out 0s; }
    .productCategories .lgColumn > .tileItem .darkBg {
      background-color: rgba(0, 0, 0, 0.2) !important;
      opacity: 0;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0; }
    @media (min-width: 1024px) {
      .productCategories .lgColumn > .tileItem:nth-child(1) {
        width: 426px;
        height: 227px;
        margin-right: 10px;
        margin-bottom: 10px; }
      .productCategories .lgColumn > .tileItem:nth-child(2) {
        width: 320px;
        height: 227px;
        margin-bottom: 10px; }
      .productCategories .lgColumn > .tileItem:nth-child(3) {
        width: 371px;
        height: 209px;
        margin-right: 10px;
        margin-bottom: 10px; }
      .productCategories .lgColumn > .tileItem:nth-child(4) {
        width: 375px;
        height: 209px;
        margin-bottom: 10px; }
      .productCategories .lgColumn > .tileItem:nth-child(5) {
        width: 428px;
        height: 269px;
        margin-right: 10px; }
      .productCategories .lgColumn > .tileItem:nth-child(6) {
        width: 318px;
        height: 269px; } }
    @media (min-width: 768px) {
      .productCategories .lgColumn > .tileItem:hover {
        cursor: pointer; }
        .productCategories .lgColumn > .tileItem:hover .transparentBordered {
          background: #FFFFFF;
          border: 2px solid #ffffff !important; }
        .productCategories .lgColumn > .tileItem:hover h1, .productCategories .lgColumn > .tileItem:hover .header {
          color: #ffffff !important; }
        .productCategories .lgColumn > .tileItem:hover .tileBg {
          -webkit-transform: scale(1.05);
          -moz-transform: scale(1.05);
          -ms-transform: scale(1.05);
          -o-transform: scale(1.05);
          transform: scale(1.05); }
          .productCategories .lgColumn > .tileItem:hover .tileBg .darkBg {
            opacity: 1; } }
  .productCategories .lgColumn .header {
    padding: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5); }
.productCategories .fullColumn > .tileItem {
  position: relative;
  overflow: hidden; }
  .productCategories .fullColumn > .tileItem .tileBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
    -moz-transition: -moz-transform 300ms ease-in-out 0s;
    transition: transform 300ms ease-in-out 0s; }
  .productCategories .fullColumn > .tileItem .darkBg {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  @media (min-width: 768px) {
    .productCategories .fullColumn > .tileItem:hover {
      cursor: pointer; }
      .productCategories .fullColumn > .tileItem:hover .transparentBordered {
        background: #FFFFFF;
        border: 2px solid #ffffff !important; }
      .productCategories .fullColumn > .tileItem:hover h1, .productCategories .fullColumn > .tileItem:hover .header {
        color: #ffffff !important; }
      .productCategories .fullColumn > .tileItem:hover .tileBg {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
        .productCategories .fullColumn > .tileItem:hover .tileBg .darkBg {
          opacity: 1; } }
.productCategories .fullColumn .header {
  padding: 20px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5); }
.productCategories .productCategory {
  position: relative;
  float: left;
  width: 248px;
  height: 316px;
  margin: 0 10px 10px 0;
  text-transform: uppercase;
  padding: 20px;
  box-sizing: border-box;
  opacity: 1;
  -webkit-transition: opacity 150ms ease-in-out 0s;
  -moz-transition: opacity 150ms ease-in-out 0s;
  transition: opacity 150ms ease-in-out 0s;
  overflow: hidden; }
  .productCategories .productCategory .header {
    line-height: 1.2;
    -webkit-transition: color 150ms ease-in-out 0s;
    -moz-transition: color 150ms ease-in-out 0s;
    transition: color 150ms ease-in-out 0s; }
  .productCategories .productCategory .tileBg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    -webkit-transition: -webkit-transform 300ms ease-in-out 0s;
    -moz-transition: -moz-transform 300ms ease-in-out 0s;
    transition: transform 300ms ease-in-out 0s; }
  .productCategories .productCategory .darkBg {
    background-color: rgba(0, 0, 0, 0.2) !important;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  @media (min-width: 768px) {
    .productCategories .productCategory:hover {
      cursor: pointer; }
      .productCategories .productCategory:hover .transparentBordered {
        background: #FFFFFF;
        border: 2px solid #ffffff !important; }
      .productCategories .productCategory:hover h1, .productCategories .productCategory:hover .header {
        color: #ffffff !important; }
      .productCategories .productCategory:hover .tileBg {
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05); }
        .productCategories .productCategory:hover .tileBg .darkBg {
          opacity: 1; } }
.productCategoriesContent .smColumn.first .tileItem:nth-child(1) {
  height: 346px;
  width: 258px;
  margin-bottom: 10px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .smColumn.first .tileItem:nth-child(1) {
      width: 176px;
      height: 235px; } }
.productCategoriesContent .smColumn.first .tileItem:nth-child(2) {
  height: 346px;
  width: 258px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .smColumn.first .tileItem:nth-child(2) {
      width: 176px;
      height: 234px; } }
.productCategoriesContent .smColumn.second .tileItem:nth-child(1) {
  height: 227px;
  width: 258px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .smColumn.second .tileItem:nth-child(1) {
      height: 153px;
      width: 176px; } }
.productCategoriesContent .smColumn.second .tileItem:nth-child(2) {
  height: 346px;
  width: 258px; }
.productCategoriesContent .smColumn.third .tileItem {
  width: 258px;
  height: 227px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .smColumn.third .tileItem {
      height: 153px;
      width: 176px; } }
.productCategoriesContent .lgColumn .tileItem {
  width: 419px;
  height: 227px;
  float: left; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .lgColumn .tileItem {
      width: 283px;
      height: 153px; } }
.productCategoriesContent .fullColumn.first .tileItem:nth-child(1) {
  width: 339px;
  height: 280px;
  float: left;
  margin-right: 10px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .fullColumn.first .tileItem:nth-child(1) {
      width: 230px;
      height: 180px; } }
.productCategoriesContent .fullColumn.first .tileItem:nth-child(2) {
  width: 339px;
  height: 280px;
  float: left; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .fullColumn.first .tileItem:nth-child(2) {
      width: 230px;
      height: 180px; } }
.productCategoriesContent .fullColumn.second .tileItem {
  width: 222px;
  height: 228px;
  float: left; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .fullColumn.second .tileItem {
      width: 150px;
      height: 155px; } }
.productCategoriesContent .fullColumn.third .tileItem {
  width: 339px;
  height: 227px;
  float: left; }
  @media (min-width: 320px) and (max-width: 767px) {
    .productCategoriesContent .fullColumn.third .tileItem {
      width: 230px;
      height: 180px; } }

@media (min-width: 1051px) {
  .productCategories .productCategory {
    width: 248px; }
  .productCategories .productCategory:nth-child(4n) {
    margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1050px) {
  .productCategories .productCategory {
    width: 324px;
    margin: 0 40px 40px 0; }
  .productCategories .productCategory:nth-child(2n) {
    margin-right: 0; } }

/*# sourceMappingURL=productCategories.css.map */
