@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.vacanciesWrapper {
	$columnWidth: 485px;

	color: #ffffff;
	font-size: 12px;

	.notificationWrapper {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		.background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}

		.notification {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			z-index: 999;
			background: #000;
			color: #ffffff;
			font-size: 16px;
			padding: 40px;
			width: 610px;
			text-align: center;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 370px;
			}

			.closeBtn {
				background-image: url(../../../../../../img/spritesheet.png);
				background-position: -107px -84px;
				width: 19px;
				height: 19px;
				position: absolute;
				top: 15px;
				right: 15px;

				&:hover {
					cursor: pointer;
				}
			}

			h3 {
				font-size: 26px;
				margin-bottom: 25px;
			}
		}
	}

	.fileUpload {
		position: relative;
		overflow: hidden;
		border: 2px solid #ffffff;
		padding: 6px 0;
		color: #ffffff;
		font-size: 18px;
		float: right;
		width: 150px;
		margin-right: 10px;

		span {
			&:hover {
				cursor: pointer;
			}

		}
		&:hover {
			cursor: pointer;
		}
	}
	.fileUpload input.upload {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		padding: 0;
		font-size: 20px;
		cursor: pointer;
		opacity: 0;
		filter: alpha(opacity=0);
		width: 100%;
	}

	.submitButton {
		background: none;
		border: 2px solid #ffffff;
		color: #ffffff;
		font-size: 18px;
		float: right;
		padding: 5px 32px;

		&:disabled {
			color: #333333;
			border-color: #333333;
		}
		&:hover {
			cursor: pointer;
		}
	}

	.responseWrapper {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: none;
		z-index: 1;

		.closeVacancyResponse {
			display: block;
			width: 19px;
			height: 19px;
			top: 15px;
			right: 15px;
			position: absolute;

			&:hover {
				cursor: pointer;
			}
		}

		.responseBackground {
			position: absolute;
			background: rgba(0, 0, 0, 0.5);
			width: 100%;
			height: 100%;
			z-index: 1;
		}

		.responseForm {
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%));

			width: 610px;
			padding: 40px 115px 30px 115px;
			box-sizing: border-box;
			background: #000;
			color: #ffffff;
			text-align: center;
			z-index: 2;

			h2 {
				font-size: 26px;
				margin-bottom: 25px;
			}

			input[type=text], input[type=email], input[type=tel], textarea {
				background: none;
				border: 2px solid #ffffff;
				width: 100%;
				color: #ffffff;
				font-size: 18px;
				padding: 5px 10px;
				box-sizing: border-box;
				margin-bottom: 23px;


				@include placeholder {
					color: #ffffff;
					text-align: center;
					text-transform: uppercase;
				}
			}
			textarea {
				height: 100px;
			}
			button {
				background: none;
				border: 2px solid #ffffff;
				color: #ffffff;
				font-size: 18px;
				float: right;
				padding: 5px 32px;

				&:disabled {
					color: #333333;
					border-color: #333333;
				}
				&:hover {
					cursor: pointer;
				}
			}

			.cvLabel {
				float: left;
				color: #ffffff;
				font-size: 18px;
				line-height: 1.9;
				text-transform: uppercase;
			}

			.responseDescription {
				font-size: 12px;
				line-height: 1.4;
				color: #363636;
				margin-top: 27px;
			}
		}
	}

	.image {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;
		margin-bottom: 35px;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 210px;
		}
	}

	h1 {
		font-size: 28px;
		margin-bottom: 25px;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}
	}

	.vacanciesDescription {
		float: left;
		width: $columnWidth;
		line-height: 1.7;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			float: none;
			padding: 0 30px;
		}

		.sendCVFormWrap {
			margin-top: 37px;

			h3 {
				font-size: 16px;
				margin-bottom: 7px;
			}

			#sendCVForm {

				.fileUpload {
					float: left;
					width: 68%;
					padding: 0.2% 3%;
					position: relative;
					height: 36px;
					margin-bottom: 5px;

					@media (min-width: 768px) and (max-width: 1023px) {
						width: 58%;
						margin-right: 20px;
					}

					.points {
						position: absolute;
						right: 3%;
						margin-top: -3px;

						.point {
							position: relative;
							display: inline-block;
							width: 3px;
							height: 3px;
							background-color: #ffffff;
							-webkit-border-radius: 50%;
							-moz-border-radius: 50%;
							border-radius: 50%;
						}
					}

				}
				.submitButton {
					float: right;
					padding: 1% 3%;

					@media (min-width: 768px) and (max-width: 1023px) {
						float: left;
						padding: 0.8% 3%;
					}
				}
			}

			.formDescription {
				font-size: 12px
			}
		}
	}

	.vacanciesList {
		float: right;
		width: $columnWidth;

		@media (min-width: 320px) and (max-width: 767px) {
			float: none;
			width: 100%;
			padding: 0 30px;
			margin-top: 37px;
		}

		.vacancyItem {
			margin-bottom: 60px;
		}


		h3 {
			font-size: 20px;
			margin-bottom: 15px;
		}
		.toggleCollapse {
			@include transition(color 0.3s linear 0s);

			&:hover {
				cursor: pointer;
				color: #c49a6c;
			}
			&.visible {
				color: #c49a6c;
			}

			span {
				@include transition(transform 0.3s linear 0s);
				display: inline-block;
			}
			&.visible span {
				@include transform(rotate(180deg));
			}
		}

		.content {
			display: none;
			line-height: 1.7;
			margin-bottom: 15px;
		}
	}

	.transparentBordered {
		font-size: 18px;
		color: #ffffff;
		margin: 0;

		&:hover {
			cursor: pointer;
			opacity: 0.8;
			color: #c49a6c;
			text-decoration: underline;
		}
	}
}

@media (min-width: 768px) and (max-width: 1023px) {

	.vacanciesWrapper {

		.vacanciesDescription {
			width: 100%;
			float: none;
			margin-bottom: 60px;
		}

		.vacanciesList {
			float: none;
			width: 100%;
		}
	}


}