.vacanciesWrapper .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.vacanciesWrapper {
  color: #ffffff;
  font-size: 12px; }
  .vacanciesWrapper .notificationWrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; }
    .vacanciesWrapper .notificationWrapper .background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7); }
    .vacanciesWrapper .notificationWrapper .notification {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: 999;
      background: #000;
      color: #ffffff;
      font-size: 16px;
      padding: 40px;
      width: 610px;
      text-align: center; }
      @media (min-width: 320px) and (max-width: 767px) {
        .vacanciesWrapper .notificationWrapper .notification {
          width: 370px; } }
      .vacanciesWrapper .notificationWrapper .notification .closeBtn {
        background-image: url(../../../../../../img/spritesheet.png);
        background-position: -107px -84px;
        width: 19px;
        height: 19px;
        position: absolute;
        top: 15px;
        right: 15px; }
        .vacanciesWrapper .notificationWrapper .notification .closeBtn:hover {
          cursor: pointer; }
      .vacanciesWrapper .notificationWrapper .notification h3 {
        font-size: 26px;
        margin-bottom: 25px; }
  .vacanciesWrapper .fileUpload {
    position: relative;
    overflow: hidden;
    border: 2px solid #ffffff;
    padding: 6px 0;
    color: #ffffff;
    font-size: 18px;
    float: right;
    width: 150px;
    margin-right: 10px;
    overflow: hidden; }
    .vacanciesWrapper .fileUpload span:hover {
      cursor: pointer; }
    .vacanciesWrapper .fileUpload:hover {
      cursor: pointer; }
  .vacanciesWrapper .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%; }
  .vacanciesWrapper .submitButton {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 18px;
    float: right;
    padding: 5px 32px; }
    .vacanciesWrapper .submitButton:disabled {
      color: #333333;
      border-color: #333333; }
    .vacanciesWrapper .submitButton:hover {
      cursor: pointer; }
  .vacanciesWrapper .responseWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    z-index: 1; }
    .vacanciesWrapper .responseWrapper .closeVacancyResponse {
      display: block;
      width: 19px;
      height: 19px;
      top: 15px;
      right: 15px;
      position: absolute; }
      .vacanciesWrapper .responseWrapper .closeVacancyResponse:hover {
        cursor: pointer; }
    .vacanciesWrapper .responseWrapper .responseBackground {
      position: absolute;
      background: rgba(0, 0, 0, 0.5);
      width: 100%;
      height: 100%;
      z-index: 1; }
    .vacanciesWrapper .responseWrapper .responseForm {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 610px;
      padding: 40px 115px 30px 115px;
      box-sizing: border-box;
      background: #000;
      color: #ffffff;
      text-align: center;
      z-index: 2; }
      .vacanciesWrapper .responseWrapper .responseForm h2 {
        font-size: 26px;
        margin-bottom: 25px; }
      .vacanciesWrapper .responseWrapper .responseForm input[type=text], .vacanciesWrapper .responseWrapper .responseForm input[type=email], .vacanciesWrapper .responseWrapper .responseForm input[type=tel], .vacanciesWrapper .responseWrapper .responseForm textarea {
        background: none;
        border: 2px solid #ffffff;
        width: 100%;
        color: #ffffff;
        font-size: 18px;
        padding: 5px 10px;
        box-sizing: border-box;
        margin-bottom: 23px; }
        .vacanciesWrapper .responseWrapper .responseForm input[type=text]::-webkit-input-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=email]::-webkit-input-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=tel]::-webkit-input-placeholder, .vacanciesWrapper .responseWrapper .responseForm textarea::-webkit-input-placeholder {
          color: #ffffff;
          text-align: center;
          text-transform: uppercase; }
        .vacanciesWrapper .responseWrapper .responseForm input[type=text]::-moz-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=email]::-moz-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=tel]::-moz-placeholder, .vacanciesWrapper .responseWrapper .responseForm textarea::-moz-placeholder {
          color: #ffffff;
          text-align: center;
          text-transform: uppercase; }
        .vacanciesWrapper .responseWrapper .responseForm input[type=text]:-moz-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=email]:-moz-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=tel]:-moz-placeholder, .vacanciesWrapper .responseWrapper .responseForm textarea:-moz-placeholder {
          color: #ffffff;
          text-align: center;
          text-transform: uppercase; }
        .vacanciesWrapper .responseWrapper .responseForm input[type=text]:-ms-input-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=email]:-ms-input-placeholder, .vacanciesWrapper .responseWrapper .responseForm input[type=tel]:-ms-input-placeholder, .vacanciesWrapper .responseWrapper .responseForm textarea:-ms-input-placeholder {
          color: #ffffff;
          text-align: center;
          text-transform: uppercase; }
      .vacanciesWrapper .responseWrapper .responseForm textarea {
        height: 100px; }
      .vacanciesWrapper .responseWrapper .responseForm button {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 18px;
        float: right;
        padding: 5px 32px; }
        .vacanciesWrapper .responseWrapper .responseForm button:disabled {
          color: #333333;
          border-color: #333333; }
        .vacanciesWrapper .responseWrapper .responseForm button:hover {
          cursor: pointer; }
      .vacanciesWrapper .responseWrapper .responseForm .cvLabel {
        float: left;
        color: #ffffff;
        font-size: 18px;
        line-height: 1.9;
        text-transform: uppercase; }
      .vacanciesWrapper .responseWrapper .responseForm .responseDescription {
        font-size: 12px;
        line-height: 1.4;
        color: #363636;
        margin-top: 27px; }
  .vacanciesWrapper .image {
    width: 100%;
    height: 357px;
    margin-bottom: 35px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .vacanciesWrapper .image {
        height: 210px; } }
  .vacanciesWrapper h1 {
    font-size: 28px;
    margin-bottom: 25px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .vacanciesWrapper h1 {
        padding: 0 30px; } }
  .vacanciesWrapper .vacanciesDescription {
    float: left;
    width: 485px;
    line-height: 1.7; }
    @media (min-width: 320px) and (max-width: 767px) {
      .vacanciesWrapper .vacanciesDescription {
        width: 100%;
        float: none;
        padding: 0 30px; } }
    .vacanciesWrapper .vacanciesDescription .sendCVFormWrap {
      margin-top: 37px; }
      .vacanciesWrapper .vacanciesDescription .sendCVFormWrap h3 {
        font-size: 16px;
        margin-bottom: 7px; }
      .vacanciesWrapper .vacanciesDescription .sendCVFormWrap #sendCVForm .fileUpload {
        float: left;
        width: 68%;
        padding: 0.2% 3%;
        position: relative;
        height: 36px;
        margin-bottom: 5px; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .vacanciesWrapper .vacanciesDescription .sendCVFormWrap #sendCVForm .fileUpload {
            width: 58%;
            margin-right: 20px; } }
        .vacanciesWrapper .vacanciesDescription .sendCVFormWrap #sendCVForm .fileUpload .points {
          position: absolute;
          right: 3%;
          margin-top: -3px; }
          .vacanciesWrapper .vacanciesDescription .sendCVFormWrap #sendCVForm .fileUpload .points .point {
            position: relative;
            display: inline-block;
            width: 3px;
            height: 3px;
            background-color: #ffffff;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%; }
      .vacanciesWrapper .vacanciesDescription .sendCVFormWrap #sendCVForm .submitButton {
        float: right;
        padding: 1% 3%; }
        @media (min-width: 768px) and (max-width: 1023px) {
          .vacanciesWrapper .vacanciesDescription .sendCVFormWrap #sendCVForm .submitButton {
            float: left;
            padding: 0.8% 3%; } }
      .vacanciesWrapper .vacanciesDescription .sendCVFormWrap .formDescription {
        font-size: 12px; }
  .vacanciesWrapper .vacanciesList {
    float: right;
    width: 485px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .vacanciesWrapper .vacanciesList {
        float: none;
        width: 100%;
        padding: 0 30px;
        margin-top: 37px; } }
    .vacanciesWrapper .vacanciesList .vacancyItem {
      margin-bottom: 60px; }
    .vacanciesWrapper .vacanciesList h3 {
      font-size: 20px;
      margin-bottom: 15px; }
    .vacanciesWrapper .vacanciesList .toggleCollapse {
      -webkit-transition: color 0.3s linear 0s;
      -moz-transition: color 0.3s linear 0s;
      transition: color 0.3s linear 0s; }
      .vacanciesWrapper .vacanciesList .toggleCollapse:hover {
        cursor: pointer;
        color: #c49a6c; }
      .vacanciesWrapper .vacanciesList .toggleCollapse.visible {
        color: #c49a6c; }
      .vacanciesWrapper .vacanciesList .toggleCollapse span {
        -webkit-transition: -webkit-transform 0.3s linear 0s;
        -moz-transition: -moz-transform 0.3s linear 0s;
        transition: transform 0.3s linear 0s;
        display: inline-block; }
      .vacanciesWrapper .vacanciesList .toggleCollapse.visible span {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
    .vacanciesWrapper .vacanciesList .content {
      display: none;
      line-height: 1.7;
      margin-bottom: 15px; }
  .vacanciesWrapper .transparentBordered {
    font-size: 18px;
    color: #ffffff;
    margin: 0; }
    .vacanciesWrapper .transparentBordered:hover {
      cursor: pointer;
      opacity: 0.8;
      color: #c49a6c;
      text-decoration: underline; }

@media (min-width: 768px) and (max-width: 1023px) {
  .vacanciesWrapper .vacanciesDescription {
    width: 100%;
    float: none;
    margin-bottom: 60px; }
  .vacanciesWrapper .vacanciesList {
    float: none;
    width: 100%; } }

/*# sourceMappingURL=vacancies.css.map */
