doctype html
html(lang="ua")
    head
        link(rel="shortcut icon" href="/img/favicon.png" type="image/x-icon")
        link(rel="icon" href="/img/favicon.png" type="image/x-icon")

        meta(property="og:site_name" content="Shabo")
        meta(property="og:type" content="article")
        meta(id="og-title" property="og:title" content="")
        meta(id="og-desc" property="og:description" content="")
        meta(id="og-url" property="og:url" content="")
        meta(id="og-image" property="og:image" content="")

        meta(name="viewport" content="width=device-width, initial-scale=0.75, minimum-scale=0.75, maximum-scale=0.75")

        title Shabo
        style.
            #preloader {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1010;
                background: #000000;
            }
            #preloader img {
                position: absolute;
                left: 50%;
                top: 50%;
            }
    body
        div#modules
        div#preloader

        div#fb-root
        - var now = Date.now();
        // script(src='/js/lib/svgjs/dist/svg.min.js')
        // script(data-main='/js/app/user/bundle.min.js' src='/js/lib/requirejs/require.min.js')
        // script(data-main="/js/app/user/core/core.js?"+now src='/js/lib/requirejs/require.min.js')
        .scriptData
            script.
                window.data = {
                    locale: !{JSON.stringify(locale)},
                    lang: "!{lang}",
                    socialConfig: !{JSON.stringify(socialConfig)},
                    user: !{JSON.stringify(user)}
                }

        script(src='/js/lib/svgjs/svg.min.js')
        script(data-main='/js/app/user/bundle.min.js' src='/js/lib/requirejs/require.min.js')

        script.
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                            (i[r].q = i[r].q || []).push(arguments)
                        }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-70862339-1', 'auto');
            ga('send', 'pageview');
