/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$activefullMenuOpen-x: 146px;
$activefullMenuOpen-y: 84px;
$activefullMenuOpen-offset-x: -146px;
$activefullMenuOpen-offset-y: -84px;
$activefullMenuOpen-width: 19px;
$activefullMenuOpen-height: 19px;
$activefullMenuOpen-total-width: 195px;
$activefullMenuOpen-total-height: 126px;
$activefullMenuOpen-image: '/img/spritesheet.png';
$activefullMenuOpen: 146px 84px -146px -84px 19px 19px 195px 126px '/img/spritesheet.png';
$commentsIcon-x: 165px;
$commentsIcon-y: 84px;
$commentsIcon-offset-x: -165px;
$commentsIcon-offset-y: -84px;
$commentsIcon-width: 18px;
$commentsIcon-height: 16px;
$commentsIcon-total-width: 195px;
$commentsIcon-total-height: 126px;
$commentsIcon-image: '/img/spritesheet.png';
$commentsIcon: 165px 84px -165px -84px 18px 16px 195px 126px '/img/spritesheet.png';
$fbIcon-x: 126px;
$fbIcon-y: 84px;
$fbIcon-offset-x: -126px;
$fbIcon-offset-y: -84px;
$fbIcon-width: 20px;
$fbIcon-height: 19px;
$fbIcon-total-width: 195px;
$fbIcon-total-height: 126px;
$fbIcon-image: '/img/spritesheet.png';
$fbIcon: 126px 84px -126px -84px 20px 19px 195px 126px '/img/spritesheet.png';
$fullMenuClose-x: 107px;
$fullMenuClose-y: 84px;
$fullMenuClose-offset-x: -107px;
$fullMenuClose-offset-y: -84px;
$fullMenuClose-width: 19px;
$fullMenuClose-height: 19px;
$fullMenuClose-total-width: 195px;
$fullMenuClose-total-height: 126px;
$fullMenuClose-image: '/img/spritesheet.png';
$fullMenuClose: 107px 84px -107px -84px 19px 19px 195px 126px '/img/spritesheet.png';
$fullMenuOpen-x: 88px;
$fullMenuOpen-y: 84px;
$fullMenuOpen-offset-x: -88px;
$fullMenuOpen-offset-y: -84px;
$fullMenuOpen-width: 19px;
$fullMenuOpen-height: 19px;
$fullMenuOpen-total-width: 195px;
$fullMenuOpen-total-height: 126px;
$fullMenuOpen-image: '/img/spritesheet.png';
$fullMenuOpen: 88px 84px -88px -84px 19px 19px 195px 126px '/img/spritesheet.png';
$goldfbIcon-x: 48px;
$goldfbIcon-y: 84px;
$goldfbIcon-offset-x: -48px;
$goldfbIcon-offset-y: -84px;
$goldfbIcon-width: 20px;
$goldfbIcon-height: 19px;
$goldfbIcon-total-width: 195px;
$goldfbIcon-total-height: 126px;
$goldfbIcon-image: '/img/spritesheet.png';
$goldfbIcon: 48px 84px -48px -84px 20px 19px 195px 126px '/img/spritesheet.png';
$goldmenuCentreImg-x: 98px;
$goldmenuCentreImg-y: 61px;
$goldmenuCentreImg-offset-x: -98px;
$goldmenuCentreImg-offset-y: -61px;
$goldmenuCentreImg-width: 16px;
$goldmenuCentreImg-height: 23px;
$goldmenuCentreImg-total-width: 195px;
$goldmenuCentreImg-total-height: 126px;
$goldmenuCentreImg-image: '/img/spritesheet.png';
$goldmenuCentreImg: 98px 61px -98px -61px 16px 23px 195px 126px '/img/spritesheet.png';
$goldmenuCompanyImg-x: 114px;
$goldmenuCompanyImg-y: 61px;
$goldmenuCompanyImg-offset-x: -114px;
$goldmenuCompanyImg-offset-y: -61px;
$goldmenuCompanyImg-width: 26px;
$goldmenuCompanyImg-height: 23px;
$goldmenuCompanyImg-total-width: 195px;
$goldmenuCompanyImg-total-height: 126px;
$goldmenuCompanyImg-image: '/img/spritesheet.png';
$goldmenuCompanyImg: 114px 61px -114px -61px 26px 23px 195px 126px '/img/spritesheet.png';
$goldmenuContactsImg-x: 140px;
$goldmenuContactsImg-y: 61px;
$goldmenuContactsImg-offset-x: -140px;
$goldmenuContactsImg-offset-y: -61px;
$goldmenuContactsImg-width: 19px;
$goldmenuContactsImg-height: 23px;
$goldmenuContactsImg-total-width: 195px;
$goldmenuContactsImg-total-height: 126px;
$goldmenuContactsImg-image: '/img/spritesheet.png';
$goldmenuContactsImg: 140px 61px -140px -61px 19px 23px 195px 126px '/img/spritesheet.png';
$goldmenuProductionImg-x: 159px;
$goldmenuProductionImg-y: 61px;
$goldmenuProductionImg-offset-x: -159px;
$goldmenuProductionImg-offset-y: -61px;
$goldmenuProductionImg-width: 12px;
$goldmenuProductionImg-height: 23px;
$goldmenuProductionImg-total-width: 195px;
$goldmenuProductionImg-total-height: 126px;
$goldmenuProductionImg-image: '/img/spritesheet.png';
$goldmenuProductionImg: 159px 61px -159px -61px 12px 23px 195px 126px '/img/spritesheet.png';
$goldvkIcon-x: 28px;
$goldvkIcon-y: 84px;
$goldvkIcon-offset-x: -28px;
$goldvkIcon-offset-y: -84px;
$goldvkIcon-width: 20px;
$goldvkIcon-height: 19px;
$goldvkIcon-total-width: 195px;
$goldvkIcon-total-height: 126px;
$goldvkIcon-image: '/img/spritesheet.png';
$goldvkIcon: 28px 84px -28px -84px 20px 19px 195px 126px '/img/spritesheet.png';
$greymenuCentreImg-x: 28px;
$greymenuCentreImg-y: 61px;
$greymenuCentreImg-offset-x: -28px;
$greymenuCentreImg-offset-y: -61px;
$greymenuCentreImg-width: 16px;
$greymenuCentreImg-height: 23px;
$greymenuCentreImg-total-width: 195px;
$greymenuCentreImg-total-height: 126px;
$greymenuCentreImg-image: '/img/spritesheet.png';
$greymenuCentreImg: 28px 61px -28px -61px 16px 23px 195px 126px '/img/spritesheet.png';
$greymenuCompanyImg-x: 12px;
$greymenuCompanyImg-y: 103px;
$greymenuCompanyImg-offset-x: -12px;
$greymenuCompanyImg-offset-y: -103px;
$greymenuCompanyImg-width: 26px;
$greymenuCompanyImg-height: 23px;
$greymenuCompanyImg-total-width: 195px;
$greymenuCompanyImg-total-height: 126px;
$greymenuCompanyImg-image: '/img/spritesheet.png';
$greymenuCompanyImg: 12px 103px -12px -103px 26px 23px 195px 126px '/img/spritesheet.png';
$greymenuContactsImg-x: 38px;
$greymenuContactsImg-y: 103px;
$greymenuContactsImg-offset-x: -38px;
$greymenuContactsImg-offset-y: -103px;
$greymenuContactsImg-width: 19px;
$greymenuContactsImg-height: 23px;
$greymenuContactsImg-total-width: 195px;
$greymenuContactsImg-total-height: 126px;
$greymenuContactsImg-image: '/img/spritesheet.png';
$greymenuContactsImg: 38px 103px -38px -103px 19px 23px 195px 126px '/img/spritesheet.png';
$greymenuProductionImg-x: 0px;
$greymenuProductionImg-y: 103px;
$greymenuProductionImg-offset-x: 0px;
$greymenuProductionImg-offset-y: -103px;
$greymenuProductionImg-width: 12px;
$greymenuProductionImg-height: 23px;
$greymenuProductionImg-total-width: 195px;
$greymenuProductionImg-total-height: 126px;
$greymenuProductionImg-image: '/img/spritesheet.png';
$greymenuProductionImg: 0px 103px 0px -103px 12px 23px 195px 126px '/img/spritesheet.png';
$mainLogo-x: 0px;
$mainLogo-y: 0px;
$mainLogo-offset-x: 0px;
$mainLogo-offset-y: 0px;
$mainLogo-width: 195px;
$mainLogo-height: 61px;
$mainLogo-total-width: 195px;
$mainLogo-total-height: 126px;
$mainLogo-image: '/img/spritesheet.png';
$mainLogo: 0px 0px 0px 0px 195px 61px 195px 126px '/img/spritesheet.png';
$mapPointer-x: 0px;
$mapPointer-y: 61px;
$mapPointer-offset-x: 0px;
$mapPointer-offset-y: -61px;
$mapPointer-width: 28px;
$mapPointer-height: 42px;
$mapPointer-total-width: 195px;
$mapPointer-total-height: 126px;
$mapPointer-image: '/img/spritesheet.png';
$mapPointer: 0px 61px 0px -61px 28px 42px 195px 126px '/img/spritesheet.png';
$vkIcon-x: 68px;
$vkIcon-y: 84px;
$vkIcon-offset-x: -68px;
$vkIcon-offset-y: -84px;
$vkIcon-width: 20px;
$vkIcon-height: 19px;
$vkIcon-total-width: 195px;
$vkIcon-total-height: 126px;
$vkIcon-image: '/img/spritesheet.png';
$vkIcon: 68px 84px -68px -84px 20px 19px 195px 126px '/img/spritesheet.png';
$whitemenuCentreImg-x: 70px;
$whitemenuCentreImg-y: 61px;
$whitemenuCentreImg-offset-x: -70px;
$whitemenuCentreImg-offset-y: -61px;
$whitemenuCentreImg-width: 16px;
$whitemenuCentreImg-height: 23px;
$whitemenuCentreImg-total-width: 195px;
$whitemenuCentreImg-total-height: 126px;
$whitemenuCentreImg-image: '/img/spritesheet.png';
$whitemenuCentreImg: 70px 61px -70px -61px 16px 23px 195px 126px '/img/spritesheet.png';
$whitemenuCompanyImg-x: 44px;
$whitemenuCompanyImg-y: 61px;
$whitemenuCompanyImg-offset-x: -44px;
$whitemenuCompanyImg-offset-y: -61px;
$whitemenuCompanyImg-width: 26px;
$whitemenuCompanyImg-height: 23px;
$whitemenuCompanyImg-total-width: 195px;
$whitemenuCompanyImg-total-height: 126px;
$whitemenuCompanyImg-image: '/img/spritesheet.png';
$whitemenuCompanyImg: 44px 61px -44px -61px 26px 23px 195px 126px '/img/spritesheet.png';
$whitemenuContactsImg-x: 171px;
$whitemenuContactsImg-y: 61px;
$whitemenuContactsImg-offset-x: -171px;
$whitemenuContactsImg-offset-y: -61px;
$whitemenuContactsImg-width: 19px;
$whitemenuContactsImg-height: 23px;
$whitemenuContactsImg-total-width: 195px;
$whitemenuContactsImg-total-height: 126px;
$whitemenuContactsImg-image: '/img/spritesheet.png';
$whitemenuContactsImg: 171px 61px -171px -61px 19px 23px 195px 126px '/img/spritesheet.png';
$whitemenuProductionImg-x: 86px;
$whitemenuProductionImg-y: 61px;
$whitemenuProductionImg-offset-x: -86px;
$whitemenuProductionImg-offset-y: -61px;
$whitemenuProductionImg-width: 12px;
$whitemenuProductionImg-height: 23px;
$whitemenuProductionImg-total-width: 195px;
$whitemenuProductionImg-total-height: 126px;
$whitemenuProductionImg-image: '/img/spritesheet.png';
$whitemenuProductionImg: 86px 61px -86px -61px 12px 23px 195px 126px '/img/spritesheet.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
