@charset "UTF-8";
@import '../bourbon/_bourbon.scss';

$siteWidth: 1024px;

// Colors
$orange: #f59b06;
$red: #df4a08;
$white: #f5ebd9;
$brown: #82440d;

$outerShadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
$innerShadow: inset 1px 1px 0px 0px rgba(0,0,0,0.3);
$btnShadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.3);

$imgPath: '/img/';
