.galleryVideosWrapper .image, .galleryVideosWrapper .image .content .playButton {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.componentHeader {
  color: #ffffff;
  font-size: 26px;
  margin: 10px 0 35px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .componentHeader {
      padding: 0 30px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .galleryVideosWrapper {
    padding: 0 30px; } }
.galleryVideosWrapper .galleryVideo {
  display: block;
  float: left;
  position: relative;
  margin: 0 8px 8px 0;
  width: 250px;
  height: 250px;
  overflow: hidden;
  opacity: 0.8;
  -webkit-transition: opacity 150ms ease-in-out 0s;
  -moz-transition: opacity 150ms ease-in-out 0s;
  transition: opacity 150ms ease-in-out 0s; }
  .galleryVideosWrapper .galleryVideo:hover {
    opacity: 1;
    cursor: pointer; }
  @media (min-width: 320px) and (max-width: 767px) {
    .galleryVideosWrapper .galleryVideo {
      height: 200px;
      width: 47.5%;
      margin-right: 5%;
      margin-bottom: 5%; } }
@media (min-width: 320px) and (max-width: 767px) {
  .galleryVideosWrapper .galleryVideo:nth-child(2n) {
    margin-right: 0; } }
.galleryVideosWrapper .image {
  width: 250px;
  height: 250px;
  position: relative; }
  .galleryVideosWrapper .image:hover {
    cursor: pointer; }
  @media (min-width: 320px) and (max-width: 767px) {
    .galleryVideosWrapper .image {
      width: 100%;
      height: 200px; } }
  .galleryVideosWrapper .image .content {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.5s ease-out 0s;
    -moz-transition: all 0.5s ease-out 0s;
    transition: all 0.5s ease-out 0s;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box; }
    .galleryVideosWrapper .image .content .playButton {
      position: absolute;
      width: 94px;
      height: 94px;
      left: 50%;
      top: 50%;
      margin-left: -47px;
      margin-top: -47px; }
    .galleryVideosWrapper .image .content .text {
      position: absolute;
      bottom: 12px;
      left: 17px;
      color: #ffffff;
      width: 80%; }
  .galleryVideosWrapper .image:hover .content {
    visibility: visible;
    opacity: 1; }

.galleryVideosWrapper .galleryVideo:last-child:after {
  content: '';
  display: block;
  clear: both; }

.videoHtmlContent {
  color: #ffffff;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  position: relative;
  text-align: left;
  padding: 20px 20px;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
  .videoHtmlContent h1 {
    margin-bottom: 15px; }
  .videoHtmlContent .videoDescription {
    font-weight: normal;
    font-size: 14px; }
  @media (min-width: 320px) and (max-width: 1023px) {
    .videoHtmlContent {
      position: absolute;
      bottom: 0;
      width: 100%; } }

@media (min-width: 1051px) {
  .galleryVideosWrapper .galleryVideo:nth-child(4n) {
    margin-right: 0; } }
@media (min-width: 768px) and (max-width: 1050px) {
  .galleryVideosWrapper .galleryVideo {
    width: 224px;
    height: 224px; }
    .galleryVideosWrapper .galleryVideo .image {
      width: 224px;
      height: 224px; }
  .galleryVideosWrapper .galleryVideo:nth-child(3n) {
    margin-right: 0; } }
.videosList .componentHeader {
  color: #515151; }
.videosList .backButtonWrap button {
  color: #515151; }
  .videosList .backButtonWrap button:hover {
    color: #c49a6c; }

@media (min-width: 320px) and (max-width: 1023px) {
  #lightGallery-slider .video_cont {
    width: 100% !important; } }

/*# sourceMappingURL=galleryVideos.css.map */
