@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.componentHeader {
	color: #ffffff;
	font-size: 26px;
	margin: 10px 0 35px;

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 0 30px;
	}
}

.galleryVideosWrapper {
	$size: 250px;
	$margin: 8px;

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 0 30px;
	}

	.galleryVideo {
		display: block;
		float: left;
		position: relative;
		margin: 0 $margin $margin 0;
		width: $size;
		height: $size;
		overflow: hidden;
		opacity: 0.8;
		@include transition(opacity 150ms ease-in-out 0s);

		&:hover {
			opacity: 1;
			cursor: pointer;
		}

		@media (min-width: 320px) and (max-width: 767px) {
			height: 200px;
			width: 47.5%;
			margin-right: 5%;
			margin-bottom: 5%;
		}
	}

	@media (min-width: 320px) and (max-width: 767px) {
		& .galleryVideo:nth-child(2n) {
			margin-right: 0;
		}
	}

	.image {
		width: $size;
		height: $size;
		@extend %bg-image-cover;
		position: relative;

		&:hover {
			cursor: pointer;
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 200px;
		}

		.content {
			visibility: hidden;
			opacity: 0;
			@include transition(all 0.5s ease-out 0s);
			position: absolute;
			width: 100%;
			height: 100%;
			box-sizing: border-box;

			.playButton {
				position: absolute;
				width: 94px;
				height: 94px;
				@extend %bg-image-cover;
				left: 50%;
				top: 50%;
				margin-left: -47px;
				margin-top: -47px;
			}

			.text {
				position: absolute;
				bottom: 12px;
				left: 17px;
				color: #ffffff;
				width: 80%;
			}
		}
		&:hover .content {
			visibility: visible;
			opacity: 1;
		}
	}
}

.galleryVideosWrapper .galleryVideo:last-child:after {
	content: '';
	display: block;
	clear: both;
}

.videoHtmlContent {
	color: #ffffff;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.3);
	position: relative;
	text-align: left;
	padding: 20px 20px;
	-webkit-transition: all 0.5s ease-in-out 0s;
	-moz-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;

	h1 {
		margin-bottom: 15px;
	}
	.videoDescription {
		font-weight: normal;
		font-size: 14px;
	}

	@media (min-width: 320px) and (max-width: 1023px) {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

@media (min-width: 1051px) {
	.galleryVideosWrapper {
		& .galleryVideo:nth-child(4n) {
			margin-right: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.galleryVideosWrapper {
		$size: 224px;
		$margin: 8px;

		.galleryVideo {
			width: $size;
			height: $size;

			.image {
				width: $size;
				height: $size;
			}
		}

		& .galleryVideo:nth-child(3n) {
			margin-right: 0;
		}
	}
}

.videosList {

	.componentHeader {
		color: #515151;
	}

	.backButtonWrap {

		button {
			color: #515151;

			&:hover {
				color: #c49a6c;
			}
		}
	}
}

#lightGallery-slider {

	.video_cont {

		@media (min-width: 320px) and (max-width: 1023px) {
			width: 100% !important;

		}
	}
}