@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';


.galleryImagesWrapper {
	$size: 250px;
	$margin: 8px;

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 30px;
	}

	.galleryImage {
		float: left;
		position: relative;
		margin: 0 $margin $margin 0;
		width: $size;
		height: $size;
		overflow: hidden;
		opacity: 0.8;
		@include transition(opacity 150ms ease-in-out 0s);

		@media (min-width: 320px) and (max-width: 767px) {
			height: 200px;
			width: 47.5%;
			margin-right: 5%;
			margin-bottom: 5%;
		}

		&:hover {
			opacity: 1;
			cursor: pointer;
		}

		.falsey {
			display: none;
		}

		.image {
			width: $size;
			height: $size;
			background: {
				repeat: no-repeat;
				position: center -70px;
			};

			@media (min-width: 320px) and (max-width: 767px) {
				width: 100%;
				height: 200px;
			}

			.borderBlock {
				visibility: hidden;
				opacity: 0;
				position: relative;
				width: 100%;
				height: 100%;
				@include transition(all 0.3s ease-in-out 0s);

				.imageDescription {
					color: #ffffff;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					box-sizing: border-box;
					padding: 12px 17px;
					font-weight: bold;
				}
			}

			&:hover {
				cursor: pointer;
			}
			&:hover .borderBlock {
				visibility: visible;
				opacity: 1;
			}
		}
	}

	@media (min-width: 320px) and (max-width: 767px) {
		& .galleryImage:nth-child(2n) {
			margin-right: 0;
		}
	}
}

.htmlContent {
	color: #ffffff;
	font-weight: bold;
	background: rgba(0, 0, 0, 0.3);
	position: relative;
	margin: -66px auto 0;
	text-align: left;
	padding: 25px 20px;
	@include transition(all 0.5s ease-in-out 0s);
}

@media (min-width: 1050px) {
	.galleryImagesWrapper {
		& .galleryImage:nth-child(4n) {
			margin-right: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.galleryImagesWrapper {
		$size: 224px;
		$margin: 8px;

		.galleryImage {
			width: $size;
			height: $size;

			.image {
				width: $size;
				height: $size;
			}
		}

		& .galleryImage:nth-child(3n) {
			margin-right: 0;
		}
	}
}

#lightGallery-Gallery .thumb_cont .thumb_info {
	display: none;
}

#lightGallery-Gallery .thumb_cont .thumb > img {
	height: 100% !important;
}

.cLthumb {
	display: none !important;
}

#lightGallery-action {
	visibility: visible !important;
	opacity: 1 !important;
	z-index: 999 !important;
}

.galleryImagesWrapper {

	.backButtonWrap {

		button {
			color: #515151;

			&:hover {
				color: #c49a6c;
			}
		}
	}
}