.authorWrapper .image, .authorWrapper .articlesList .expertColumnItem .columnImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.authorWrapper .image {
  width: 100%;
  height: 285px; }
@media (min-width: 320px) and (max-width: 767px) {
  .authorWrapper .authorWrapperContent {
    padding: 0 25px;
    margin-bottom: 40px; } }
.authorWrapper h1 {
  font-size: 28px;
  margin: 35px 0 30px;
  color: #FFFFFF; }
.authorWrapper .authorInfo .avatar {
  float: left;
  width: 47%;
  margin-right: 3%; }
  .authorWrapper .authorInfo .avatar img {
    width: 100%; }
.authorWrapper .authorInfo .authorName {
  color: #c49a6c;
  font-weight: bold;
  margin-bottom: 15px; }
.authorWrapper .authorInfo .description {
  float: left;
  width: 50%;
  color: #FFFFFF; }
  .authorWrapper .authorInfo .description .text {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px; }
  .authorWrapper .authorInfo .description .askExpertBtn {
    float: left; }
  .authorWrapper .authorInfo .description .allExperts {
    float: right; }
.authorWrapper .buttons {
  margin: 0 0 0 0;
  text-align: center; }
  @media (min-width: 320px) and (max-width: 767px) {
    .authorWrapper .buttons {
      margin-top: 35px; } }
.authorWrapper .transparentBordered {
  font-size: 16px;
  padding: 3px 9px;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }
  .authorWrapper .transparentBordered:hover {
    cursor: pointer;
    color: #c49a6c;
    text-decoration: underline; }
.authorWrapper .askExpertWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }
  .authorWrapper .askExpertWrapper .askExpertBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .authorWrapper .askExpertWrapper .closeAskExpertBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 19px;
    height: 19px;
    opacity: 0.8;
    -webkit-transition: opacity 150ms ease-in-out 0s;
    -moz-transition: opacity 150ms ease-in-out 0s;
    transition: opacity 150ms ease-in-out 0s; }
    .authorWrapper .askExpertWrapper .closeAskExpertBtn:hover {
      cursor: pointer;
      opacity: 1; }
  .authorWrapper .askExpertWrapper .askExpertFormWrap, .authorWrapper .askExpertWrapper .askExpertErrorWrap {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    margin-top: -154px;
    margin-left: -305px;
    color: #FFFFFF;
    padding: 35px 125px;
    text-align: center;
    box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
    -webkit-transition: box-shadow 150ms ease-in-out 0s;
    -moz-transition: box-shadow 150ms ease-in-out 0s;
    transition: box-shadow 150ms ease-in-out 0s; }
    .authorWrapper .askExpertWrapper .askExpertFormWrap .askExpertForm, .authorWrapper .askExpertWrapper .askExpertErrorWrap .askExpertForm {
      width: 100%; }
      .authorWrapper .askExpertWrapper .askExpertFormWrap .askExpertForm textarea, .authorWrapper .askExpertWrapper .askExpertErrorWrap .askExpertForm textarea {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        padding: 7px;
        margin-bottom: 24px;
        width: 100%; }
      .authorWrapper .askExpertWrapper .askExpertFormWrap .askExpertForm .transparentBordered, .authorWrapper .askExpertWrapper .askExpertErrorWrap .askExpertForm .transparentBordered {
        padding: 3px 25px; }
    .authorWrapper .askExpertWrapper .askExpertFormWrap .content, .authorWrapper .askExpertWrapper .askExpertErrorWrap .content {
      margin-bottom: 50px; }
  .authorWrapper .askExpertWrapper .transparentBordered {
    font-size: 16px;
    padding: 3px 9px;
    border: 2px solid #ffffff;
    color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -moz-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s; }
    .authorWrapper .askExpertWrapper .transparentBordered:hover {
      cursor: pointer;
      background: #ffffff;
      color: #000000;
      border-color: #000000; }
.authorWrapper .articlesList .expertColumnItem {
  position: relative;
  float: left;
  width: 30%;
  margin-right: 5%;
  color: #FFFFFF; }
  @media (min-width: 320px) and (max-width: 767px) {
    .authorWrapper .articlesList .expertColumnItem {
      width: 100%;
      float: none;
      margin-right: 0;
      margin-bottom: 40px; } }
  .authorWrapper .articlesList .expertColumnItem:hover {
    cursor: pointer; }
    .authorWrapper .articlesList .expertColumnItem:hover h4, .authorWrapper .articlesList .expertColumnItem:hover .columnText {
      text-decoration: underline; }
  .authorWrapper .articlesList .expertColumnItem .columnImage {
    position: relative;
    width: 100%;
    height: 210px;
    margin-bottom: 10px; }
  .authorWrapper .articlesList .expertColumnItem .columnContent h3 {
    margin-bottom: 10px;
    color: #c49a6c; }
  .authorWrapper .articlesList .expertColumnItem .columnContent h4 {
    margin-bottom: 10px; }
  .authorWrapper .articlesList .expertColumnItem .columnContent .columnText {
    font-size: 12px;
    line-height: 1.6;
    margin-bottom: 25px; }
  .authorWrapper .articlesList .expertColumnItem .columnContent .columnContentBottom {
    font-size: 12px;
    color: #808080; }
.authorWrapper .articlesList .expertColumnItem:nth-of-type(3n) {
  margin-right: 0; }

@media (min-width: 768px) and (max-width: 1050px) {
  .authorWrapper .authorInfo .avatar {
    float: none;
    width: 400px;
    margin-bottom: 15px; }
  .authorWrapper .authorInfo .description {
    width: 100%;
    float: none; }
    .authorWrapper .authorInfo .description .text {
      margin-bottom: 30px; }
    .authorWrapper .authorInfo .description .buttons .transparentBordered {
      padding: 3px 0; }
  .authorWrapper .articlesList .expertColumnItem {
    width: 47%;
    margin-bottom: 50px; }
  .authorWrapper .articlesList .expertColumnItem:nth-child(3n) {
    margin-right: 6%; }
  .authorWrapper .articlesList .expertColumnItem:nth-child(2n) {
    margin-right: 0; }
    .authorWrapper .articlesList .expertColumnItem:nth-child(2n):after {
      content: '';
      display: block;
      clear: both; } }

/*# sourceMappingURL=author.css.map */
