@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

$margin: 8px;

.mainPage {

	.ourWines {
		position: relative;
		color: #ffffff;

		.tileBg {
			background-image: url("#{$imgPath}ourWines.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}mobile/ourWines.jpg");
			}
		}

		.transparentBordered {
			color: #ffffff;
			border: 2px solid #ffffff;
		}

		&:hover {
			.transparentBordered {
				color: #727272;
			}
		}
	}

	.advices {
		position: relative;

		.tileBg {
			background-image: url("#{$imgPath}advices.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}mobile/advices.jpg");
			}
		}

		h1 {
			color: #e7d7cd;
		}
		.transparentBordered {
			color: #e7d7cd;
			border: 2px solid #e7d7cd;
		}

		&:hover {
			.transparentBordered {
				color: #514034;
			}
		}
	}

	.cultureCentre {
		position: relative;

		.tileBg {
			background-image: url("#{$imgPath}cultureCentre.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}/mobile/cultureCentre.jpg");
			}
		}

		h1 {
			color: #7fc1cf;
		}

		.transparentBordered {
			color: #7fc1cf;
			border: 2px solid #7fc1cf;
		}

		&:hover {
			.transparentBordered {
				color: #224d74;
			}
		}
	}

	.wineMap {
		position: relative;

		.tileBg {
			background-image: url("#{$imgPath}wineMap.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}mobile/wineMap.jpg");
			}
		}

		h1 {
			color: #36969a !important;
		}
	}

	.news {
		.tileBg {
			background-image: url("#{$imgPath}news.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}mobile/news.jpg");
			}
		}

		h1 {
			color: #dafa9c;
		}

		.transparentBordered {
			color: #dafa9c;
			border: 2px solid #dafa9c;
		}

		&:hover {
			.transparentBordered {
				color: #65611b;
			}
		}
	}

	.production {
		.tileBg {
			background-image: url("#{$imgPath}production.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}mobile/production.jpg");
			}
		}

		h1 {
			color: #ffffff;
		}

		.transparentBordered {
			color: #c68537;
			border: 2px solid #c68537;
		}
	}

	.privileges {
		position: relative;

		.tileBg {
			background-image: url("#{$imgPath}privileges.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}mobile/privileges.jpg");
			}
		}

		h1 {
			color: #e1d3cb;
		}

		.transparentBordered {
			color: #d5b3a6;
			border: 2px solid #d5b3a6;
		}
	}

	.experts {
		position: relative;

		.tileBg {
			background-image: url("#{$imgPath}experts.jpg");

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url("#{$imgPath}mobile/experts.jpg");
			}
		}

		h1 {
			color: #fef9e1;
		}

		.transparentBordered {
			color: #fef9e1;
			border: 2px solid #fef9e1;
		}

		&:hover {
			.transparentBordered {
				color: #000000;
			}
		}
	}
}

.wrapLeft {
	float: left;
	width: 258px;
	position: relative;
	margin-right: $margin;

	.ourWines {
		width: 100%;
		height: 364px;
		margin-bottom: $margin;
	}

	.advices {
		width: 100%;
		height: 178px;
	}
}

.wrapRight {
	float: left;
	width: 758px;
	position: relative;

	.wrapRightTop {
		width: 100%;
		height: 226px;
		position: relative;
		margin-bottom: $margin;

		.cultureCentre {
			float: left;
			width: 471px;
			height: 100%;
			margin-right: $margin;
		}

		.wineMap {
			float: left;
			width: 278px;
			height: 227px;
		}
	}

	.wrapRightLeft {
		position: relative;
		float: left;
		width: 374px;
		margin-right: $margin;

		.news {
			width: 100%;
			height: 176px;
			margin-bottom: $margin;
		}

		.production {
			height: 132px;
			width: 100%;
		}
	}

	.wrapRightRight {
		position: relative;
		float: left;
		width: 375px;

		.privileges {
			width: 100%;
			height: 133px;
			margin-bottom: $margin;
		}

		.experts {
			width: 100%;
			height: 174px;
		}
	}
}


.mainPageItem {
	padding: 13px 20px;

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 20px 30px;
	}

	h1 {
		font-size: 26px;
		font-weight: bold;
		color: #ffffff;
		margin-bottom: 10px;
		text-transform: uppercase;
		line-height: 1.2;
	}

	.transparentBordered {
		font-size: 16px;
		padding: 3px 9px;
		border: 2px solid;

		&:hover {
			cursor: pointer;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.wrapTop {
		position: relative;
		margin-bottom: $margin;

		.wrapTopLeft {
			float: left;
			position: relative;
			width: 258px;
			height: 365px;
			margin-right: $margin;

			.ourWines {
				height: 100%;
			}
		}

		.wrapTopRight {
			float: left;
			position: relative;
			width: 422px;

			.cultureCentre {
				margin-bottom: $margin;
				height: 227px;
			}

			.privileges {
				height: 130px;
			}
		}
	}

	.wrapCenter {
		position: relative;
		margin-bottom: $margin;

		.mainPageItem.news {
			float: left;
			width: 334px;
			height: 227px;
			margin-right: $margin;
		}

		.mainPageItem.wineMap {
			float: left;
			width: 346px;
			height: 227px;
		}
	}

	.wrapBottom {
		position: relative;

		.wrapBottomLeft {
			position: relative;
			float: left;
			width: 375px;
			margin-right: $margin;

			.advices {
				margin-bottom: $margin;
				height: 177px;
			}

			.production {
				height: 130px;
			}
		}

		.wrapBottomRight {
			position: relative;
			float: left;
			width: 305px;
			height: 315px;

			.experts {
				width: 100%;
				height: 100%;
			}
		}
	}
}