@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.historyWrapper {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-top: 145px;

	.historyItem {
		width: 100%;
		height: 527px;
		position: relative;
		background-repeat: no-repeat;
		background-size: 1024px;
		background-attachment: fixed;

		h1 {
			text-transform: uppercase;
			font-size: 26px;
			margin-bottom: 18px;
			color: #be996f !important;
		}
		.content {
			font-size: 18px;
			line-height: 1.4;
		}
	}

	.hsContainer {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		opacity: 1;
	}
	.hsContent {
		position: absolute;
		background: rgba(0, 0, 0, 0.50);
		padding: 20px;
		box-sizing: content-box;
/*		max-width: 450px;
		margin: -150px auto 0 auto;
		display: table-cell;
		vertical-align: middle;
		color: #ebebeb;
		padding: 0 8%;
		text-align: center*/
	}

	.sectionBg {
		background-repeat: no-repeat;
		background-size: 1024px;
		background-attachment: fixed;
	}

	.bcg {
		background-repeat: no-repeat;
		background-size: 1024px;
		background-attachment: fixed;
		height: 100%;
		width: 100%;
	}

	.textWrapper {
		position: absolute;
	}

	.anticTimes {
		h1 {
			color: #e5d3b1;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			bottom: 45px;
			left: 478px;
			width: 450px;
		}
	}
	.turkishPeriod {
		h1 {
			color: #fbdcb4;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			top: 214px;
			left: 57px;
			width: 435px;
		}
	}
	.turkishPeriod2 {
		h1 {
			color: #ffffff;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			bottom: 86px;
			right: 57px;
			width: 308px;
		}
	}
	.swissColonists {
		h1 {
			color: #ffffff;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			top: 76px;
			right: 10px;
			width: 362px;
		}
	}
	.swissColonists2 {
		h1 {
			color: #ffffff;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			top: 35px;
			left: 60px;
			width: 392px;
		}
	}
	.swissColonists3 {
		h1 {
			color: #f6dcbc;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			bottom: 66px;
			right: 47px;
			width: 322px;
		}
	}
	.sovietAge {
		h1 {
			color: #ebc0a8;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			bottom: 40px;
			left: 58px;
			width: 701px;
		}
	}
	.sovietAge2 {
		h1 {
			color: #f4e594;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			bottom: 30px;
			left: 60px;
			width: 500px;
		}
	}
	.newAge {
		h1 {
			color: #d5cecb;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			bottom: 27px;
			left: 59px;
			width: 746px;
		}
	}
	.newAge2 {
		h1 {
			color: #f6cfbf;
		}
		.content {
			color: #ffffff;
		}
		.hsContent, .textWrapper {
			bottom: 33px;
			left: 413px;
			width: 579px;
		}
	}
}

.verticalNavigation {
	position: fixed;
	top: 145px;
	left: 50%;
	margin-left: 520px;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	line-height: 10px;


	a {
		color: #ffffff;
		text-decoration: none;

		&:hover, &.active {
			color: #c49a6c;
			text-decoration: underline;
		}
	}
}

@media (min-height: 1050px) and (min-width: 1051px) {

	.historyWrapper .sectionBg {
		background-size: 84%;

		&.last {
			background-size: 130%;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.historyWrapper {
		margin-top: 0;

		.sectionBg {
			background-size: cover;
			background-attachment: inherit;
		}

		.horizontalNavigation {
			text-align: center;
			width: 100%;
			color: #ffffff;
			font-size: 12px;
			line-height: 10px;
			margin-bottom: 55px;

			a {
				color: #ffffff;
				text-decoration: none;

				&:hover {
					color: #c49a6c;
					text-decoration: underline;
				}
			}
			span {
				font-size: 13px;
			}
		}

		.anticTimes {

			.hsContent, .textWrapper {
				top: 81px;
				left: 340px;
				width: 285px;
			}
		}

		.turkishPeriod {
			.hsContent, .textWrapper {
				top: 280px;
				left: 45px;
				width: 571px;
			}
		}

		.turkishPeriod2 {
			.hsContent, .textWrapper {
				bottom: 176px;
				right: 12px;
				width: 247px;
			}
		}

		.swissColonists {
			.hsContent, .textWrapper {
				top: 41px;
				right: 10px;
				width: 307px;
			}
		}

		.swissColonists2 {
			.hsContent, .textWrapper {
				top: 55px;
				left: 60px;
				width: 392px;
			}
		}

		.swissColonists3 {
			.hsContent, .textWrapper {
				bottom: 31px;
				right: 20px;
				width: 322px;
			}
		}

		.sovietAge {
			.hsContent, .textWrapper {
				bottom: 40px;
				left: 37px;
				width: 588px;
			}
		}

		.sovietAge2 {
			.hsContent, .textWrapper {
				bottom: 63px;
				left: 76px;
				width: 500px;
			}
		}

		.newAge {
			.hsContent, .textWrapper {
				bottom: 27px;
				left: 19px;
				width: 615px;
			}
		}

		.newAge2 {
			.hsContent, .textWrapper {
				bottom: 11px;
				left: 160px;
				width: 473px;
			}
		}
	}
}

@media (min-width: 320px) and (max-width: 767px) {


	.historyWrapper {
		padding: 0 30px;
		margin-top: 0;

		.mHistoryItem {
			margin-bottom: 50px;

			h1 {
				color:  #e5d3b1;
				font-size: 26px;
				font-weight: 700;
				margin-bottom: 20px;
			}

			.logo {
				height: 320px;
				margin-bottom: 20px;
			}

			.description {
				color:  #ffffff;
				font-size: 16px;
				font-weight: 400;
			}
		}
	}
}

.mHistoryItem {

	.logo {
		@extend %bg-image-cover;
	}
}