.shaboClubWrapper .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.shaboClubWrapper {
  color: #ffffff; }
  .shaboClubWrapper .image {
    width: 100%;
    height: 357px; }
  .shaboClubWrapper .text {
    margin: 35px 0 0 0;
    float: left;
    width: 50%;
    padding-right: 2%; }
    .shaboClubWrapper .text h1 {
      font-size: 26px;
      margin-bottom: 25px; }
    .shaboClubWrapper .text .content {
      font-size: 12px;
      line-height: 20px; }

/*# sourceMappingURL=simplePage-shabo-club.css.map */
