.historyWrapper {
  width: 100%;
  position: relative; }
  .historyWrapper .historyItem {
    width: 100%;
    height: 527px;
    position: relative; }

/*# sourceMappingURL=simplePage-history.css.map */
