@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.wineyardsWrapper {

	@media (min-width: 320px) and (max-width: 767px) {

		padding: 0 30px;
	}

/*	.wineyardPanoWrapper {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 357px;

		h1 {
			position: absolute;
			text-transform: uppercase;
			font-size: 26px;
			color: #6896af;
			top: 12px;
			left: 13px;
			z-index: 1;
		}

		#wineyardPano {
			position: relative;
			height: 100%;
			width: 5000px;
			@extend %bg-image-cover;
			background-image: url("#{$imgPath}examplepano.jpg");
			left: -1800px;

			&:hover {
				cursor: all-scroll;
			}
		}
	}*/

	.wineyardsImage {
		position: relative;
		height: 550px;
		width: 100%;
		@extend %bg-image-cover;
		background-image: url('#{$imgPath}wineyardsImage.jpg');

		@media (min-width: 320px) and (max-width: 767px) {
			height: 335px;
		}

		> h1 {
			position: absolute;
			text-transform: uppercase;
			font-size: 26px;
			color: #b2d4ee;
			top: 12px;
			left: 13px;
			z-index: 1;
		}

		.winePlace {
			position: absolute;
			width: 0;
			height: 0;
			top: 200px;

			&:hover {
				cursor: pointer;
			}

			.winePointer {
				position: absolute;
				width: 28px;
				height: 42px;
				bottom: 0;
				@extend %bg-image-contain;
				background-image: url('#{$imgPath}mapPointerYellow.png');
				@include transition(all 0.3s ease-in-out 0s);

				&.sm {
					width: 19px;
					height: 29px;
				}
			}

			&.active {

				.winePointer {
					background-image: url('#{$imgPath}mapPointer.png');
					@include transform(scale(1.5));
					@include transform-origin(center bottom);
				}
			}
		}

		.wineContent {
			background: rgba(0, 0, 0, 0.8);
			font-size: 12px;
			color: #ffffff;
			line-height: 1.2;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			bottom: 50px;
			left: 50%;
			margin-left: -425px;
			padding: 20px 25px;
			width: 850px;
			@include transition(all 150ms ease-in-out 0s);

			&.active {
				visibility: visible;
				opacity: 1;
			}

			h1 {
				color: #9b1044;
				font-size: 24px;
				margin-bottom: 15px;
			}
		}

		.winePointer1 {
			left: 45px;
		}
		.winePointer2 {
			left: 110px;
			top: 190px;
		}
		.winePointer3 {
			left: 208px;
			top: 227px;
		}
		.winePointer4 {
			left: 310px;
		}
		.winePointer5 {
			left: 400px;
			top: 230px;
		}
		.winePointer6 {
			left: 500px;
		}
		.winePointer7 {
			left: 610px;
			top: 240px;
		}
		.winePointer8 {
			left: 715px;
		}
		.winePointer9 {
			left: 800px;
			top: 230px;
		}
		.winePointer10 {
			left: 885px;
		}
		.winePointer11 {
			left: 950px;
			top: 220px;
		}
	}

	.wineyardsDescriptions {
		margin-bottom: 15px;

		.wineContent {
			font-size: 12px;
			color: #ffffff;
			display: none;
			position: relative;

			&.active {
				display: block;
			}

			h1 {
				color: #9b1044;
				font-size: 24px;
				margin: 15px 0;
			}
		}

	}

	/*.winePoint, .hotspot {
		$size: 45px;


		position: absolute;
		width: $size;
		height: $size;
		border: 5px solid #ffffff;
		border-radius: 50%;
		@include transition(all 0.2s ease-out 0s);

		.wineCenter {
			$top: 5px;
			$size: 25px;

			background: #ffffff;
			width: $size;
			height: $size;
			position: absolute;
			border-radius: 50%;
			left: $top;
			top: $top;
			@include transition(all 0.2s ease-out 0s);
		}

		&:hover {
			cursor: pointer;
			border: 5px solid #c49a6c;
		}
		&:hover .wineCenter {
			background: #c49a6c;
		}

		.wineContent {
			position: absolute;
			background: rgba(0, 0, 0, 0.70);
			padding: 13px 22px;
			color: #c49a6c;
			font-size: 14px;
			line-height: 1.2;
			width: 670px;
			visibility: hidden;
			opacity: 0;
			z-index: 1;

			@include transition(all 0.2s ease-out 0s);

			&:hover {
				display: block;
			}
		}

		&.current {
			border: 5px solid #c49a6c;
		}

		&:hover .wineCenter {
			background: #c49a6c;
		}
		&:hover .wineContent {
			visibility: visible;
			opacity: 1;
		}
	}*/

/*	.winePoint1 {
		top: 199px;
		left: 1945px;

		.wineContent {
			left: 45px;
			top: -121px;
		}
	}

	.winePoint2 {
		top: 285px;
		left: 2046px;

		.wineContent {
			left: 45px;
			top: -115px;
		}
	}

	.winePoint3 {
		top: 208px;
		right: 2200px;

		.wineContent {
			right: 40px;
			top: -140px;
		}
	}

	.winePoint4 {
		bottom: 42px;
		right: 2400px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}

	.winePoint5 {
		bottom: 32px;
		right: 2700px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}

	.winePoint6 {
		bottom: 110px;
		right: 2548px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}

	.winePoint7 {
		bottom: 85px;
		right: 2056px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}

	.winePoint8 {
		bottom: 42px;
		right: 3400px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}

	.winePoint9 {
		bottom: 68px;
		right: 1840px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}

	.winePoint10 {
		bottom: 102px;
		right: 1600px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}

	.winePoint11 {
		bottom: 75px;
		right: 3200px;

		.wineContent {
			right: 45px;
			top: -114px;
		}
	}*/

	.wineyard {

		width: 100%;
		height: 551px;
		@extend %bg-image-cover;
		padding: 13px 18px;
		position: relative;


	}


	.wineyardsContent {
		margin: 35px 0 0 0;
		color: #FFFFFF;

		h1 {
			font-size: 26px;
			margin-bottom: 25px;
			width: 50%;
		}

		.text {
			-webkit-column-count:2;
			-moz-column-count:2;
			column-count:2;

			-webkit-column-gap: 55px;
			-moz-column-gap: 55px;
			column-gap: 55px;

			font-size: 12px;
			line-height: 20px;
		}
	}
}

@media (min-width: 320px) and (max-width: 767px) {

	.wineyardsWrapper {

		.wineyardsImage {

			.winePointer2 {
				left: 2%;
				top: 137px;
			}
			.winePointer3 {
				left: 10%;
				top: 162px;
			}
			.winePointer4 {
				left: 20%;
				top: 132px;
			}
			.winePointer5 {
				left: 30%;
			}
			.winePointer6 {
				left: 45%;
				top: 132px;
			}
			.winePointer7 {
				left: 60%;
				top: 180px;
			}
			.winePointer8 {
				left: 75%;
				top: 132px;
			}
			.winePointer9 {
				left: 85%;
				top: 184px;
			}
			.winePointer10 {
				left: 90%;
				top: 132px;
			}
			.winePointer11 {
				left: 93%;
			}

			.wineContent {
				width: 80%;
				left: 50%;
				margin-left: 0;
				@include transform(translateX(-50%));
			}
		}

		.wineyardsContent {

			h1 {
				width: 80%;
			}

			.text {
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
			}
		}
	}

}

@media (min-width: 768px) and (max-width: 1050px) {

	.wineyardsWrapper {

		.wineyardsImage {

			.winePointer2 {
				left: 30px;
			}
			.winePointer3 {
				left: 110px;
			}
			.winePointer4 {
				left: 195px;
			}
			.winePointer5 {
				left: 270px;
			}
			.winePointer6 {
				left: 365px;
			}
			.winePointer7 {
				left: 440px;
			}
			.winePointer8 {
				left: 505px;
			}
			.winePointer9 {
				left: 560px;
			}
			.winePointer10 {
				left: 615px;
			}
			.winePointer11 {
				left: 650px;
			}

			.wineContent {
				width: 650px;
				margin-left: -325px;
			}
		}

		.wineyardsContent {

			h1 {
				width: 80%;
			}
			
			.text {
				-webkit-column-count: 1;
				-moz-column-count: 1;
				column-count: 1;
			}
		}
	}
}