@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.missionWrapper {
	color: #ffffff;

	.image {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 210px;
		}
	}

	.text {
		margin: 35px 0 0 0;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}

		h1 {
			font-size: 26px;
			margin-bottom: 25px;
		}

		.content {
			-webkit-column-count:2;
			-moz-column-count:2;
			column-count:2;

			-webkit-column-gap: 55px;
			-moz-column-gap: 55px;
			column-gap: 55px;

			font-size: 12px;
			line-height: 20px;

			@media (min-width: 320px) and (max-width: 767px) {
				-webkit-column-count:1;
				-moz-column-count:1;
				column-count:1;
			}
		}
	}

	.buttons {
		margin: 77px 0 0 0;
		text-align: center;
	}

	.transparentBordered {
		font-size: 16px;
		padding: 3px 9px;
		border: 2px solid #ffffff;
		color: #ffffff;
		margin: 0 15px;
		@include transition (all 0.2s ease-in-out 0s);

		&:hover {
			cursor: pointer;
			background: #ffffff;
			color: #000000;
			border-color: #000000;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.missionWrapper {

		.image {
			height: 283px;
		}

		.text {

			.content {
				-webkit-column-count:1;
				-moz-column-count:1;
				column-count:1;
			}

		}
	}
}