.toursWrapper .image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.toursWrapper {
  color: #ffffff; }
  .toursWrapper .image {
    width: 100%;
    height: 357px; }
  .toursWrapper .text {
    margin: 35px 0 0 0; }
    .toursWrapper .text h1 {
      font-size: 26px;
      margin-bottom: 25px; }
    .toursWrapper .text .content {
      -webkit-column-count: 2;
      -moz-column-count: 2;
      column-count: 2;
      -webkit-column-gap: 55px;
      -moz-column-gap: 55px;
      column-gap: 55px;
      font-size: 12px;
      line-height: 20px; }
  .toursWrapper .buttons {
    margin: 77px 0 0 0;
    text-align: center; }
  .toursWrapper .transparentBordered {
    font-size: 16px;
    padding: 3px 9px;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin: 0 15px; }
    .toursWrapper .transparentBordered:hover {
      cursor: pointer;
      opacity: 0.8; }

/*# sourceMappingURL=simplePage-tours.css.map */
