@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.companyWrapper {

	$margin: 8px;

/*	.companyItem .transparentBordered {
		@include transition(all 150ms ease-in-out 0s);

	}

	.companyItem:hover .transparentBordered {
		background: #FFFFFF;
		color: #000000 !important;
		border: 2px solid #ffffff !important;
	}*/

	.left {
		float: left;
		margin-right: $margin;
	}

	.right {
		float: left;
	}

	.leftTop {
		margin-bottom: $margin;
	}

	.mission {
		$color: #f3e3d8;

		float: left;
		margin-right: $margin;
		width: 336px;
		height: 352px;

		.tileBg {
			background-image: url(#{$imgPath}companyMission.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			border-color: $color;
			color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #948474;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 165px;
			float: none;
			margin: 0;

			.tileBg {
				background-image: url(#{$imgPath}mobile/companyMission.jpg);
			}
		}
	}

	.history {
		$color: #fbe3b1;

		float: left;
		width: 335px;
		height: 352px;

		.tileBg {
			background-image: url(#{$imgPath}companyHistory.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			border-color: $color;
			color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #342D2B;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 165px;
			float: none;
			margin: 0;

			.tileBg {
				background-image: url(#{$imgPath}mobile/companyHistory.jpg);
			}
		}
	}

	.vacancies {
		$color: #5d3624;

		float: left;
		margin-right: $margin;
		width: 223px;
		height: 284px;

		.tileBg {
			background-image: url(#{$imgPath}companyVacancies.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			border-color: $color;
			color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #7A5B4B;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 165px;
			float: none;
			margin: 0;

			.tileBg {
				background-image: url(#{$imgPath}mobile/companyVacancies.jpg);
			}
		}
	}

	.productionProcess {
		$color: #c5dff5;

		float: left;
		width: 448px;
		height: 284px;

		.tileBg {
			background-image: url(#{$imgPath}companyProductionProcess.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			border-color: $color;
			color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #426887;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 165px;
			float: none;
			margin: 0;

			.tileBg {
				background-image: url(#{$imgPath}mobile/companyProductionProcess.jpg);
			}
		}
	}

	.wineYards {
		$color: #597fae;
		width: 336px;
		height: 210px;
		margin-bottom: $margin;

		.tileBg {
			background-image: url(#{$imgPath}companyWineyards.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			border-color: $color;
			color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #A9ACB3;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 165px;
			float: none;
			margin: 0;

			.tileBg {
				background-image: url(#{$imgPath}mobile/companyWineyards.jpg);
			}
		}
	}

	.awards {
		$color: #ededf8;
		width: 336px;
		height: 208px;
		margin-bottom: $margin;

		.tileBg {
			background-image: url(#{$imgPath}companyAwards.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			border-color: $color;
			color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #BDA367;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 165px;
			float: none;
			margin: 0;

			.tileBg {
				background-image: url(#{$imgPath}mobile/companyAwards.jpg);
			}
		}
	}

	.exportMarkets {
		$color: #ededf8;
		width: 336px;
		height: 210px;

		.tileBg {
			background-image: url(#{$imgPath}export-markets.jpg);
		}

		h1 {
			color: $color;
			width: 200px;
		}
		.transparentBordered {
			border-color: $color;
			color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #BDA367;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			height: 165px;
			float: none;
			margin: 0;

			.tileBg {
				background-image: url(#{$imgPath}mobile/export-markets.jpg);
			}
		}
	}
}

.companyItem {
	padding: 13px 12px;

	h1 {
		font-size: 26px;
		font-weight: bold;
		color: #ffffff;
		margin-bottom: 10px;
		text-transform: uppercase;
		line-height: 1.2;
	}

	.transparentBordered {
		font-size: 16px;
		padding: 3px 9px;
		border: 2px solid;

		&:hover {
			cursor: pointer;
		}

	}

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 20px 30px;

	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.companyWrapper {
		$margin: 8px;

		.companyItem {
			h1 {
				font-size: 22px;
			}
		}

		.top {
			height: 332px;
			margin-bottom: $margin;
		}

		.center {
			height: 283px;
			margin-bottom: $margin;
		}

		.bottom {
			height: 293px;
		}

		.mission {
			width: 334px;
			height: 100%;
			margin-right: $margin;
		}

		.history {
			width: 346px;
			height: 100%;
		}

		.vacancies {
			width: 233px;
			height: 100%;
			margin-right: $margin;
		}

		.wineYards {
			width: 447px;
			height: 100%;
			float: left;
		}

		.productionProcess {
			width: 232px;
			height: 100%;
			margin-right: $margin;
		}

		.awards {
			width: 218px;
			height: 100%;
			margin-right: $margin;
			float: left;
		}

		.exportMarkets {
			width: 222px;
			height: 100%;
			float: left;
		}
	}
}