@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.greyBackground {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: #dadddc;
}

.cultureCentreWrapper {

	$margin: 8px;

	.cultureCentreDescription {
		$color: #eaf2ff;
		float: left;

		.tileBg {
			background-image: url(#{$imgPath}cultureCentreDesc.jpg);

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url(#{$imgPath}mobile/cultureCentreDesc.jpg);
			}
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			color: $color;
			border-color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #0C1227;
			}
		}
	}

	.tours {
		$color: #e5dfda;
		float: left;

		.tileBg {
			background-image: url(#{$imgPath}tour.jpg);

		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			color: $color;
			border-color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #4C3D34;
			}
		}
	}

	.gallery {
		$color: #eaf2ff;
		float: left;

		.tileBg {
			background-image: url(#{$imgPath}gallery.jpg);

			@media (min-width: 320px) and (max-width: 767px) {
				background-image: url(#{$imgPath}mobile/gallery.jpg);
			}
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			color: $color;
			border-color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #000000;
			}
		}
	}

	.videos {
		$color: #fafcff;
		float: left;

		.tileBg {
			background-image: url(#{$imgPath}videos.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			color: $color;
			border-color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #1C2022;
			}
		}

		@media (min-width: 320px) and (max-width: 767px) {

			.tileBg {
				background-image: url(#{$imgPath}mobile/videos.jpg);
			}
		}
	}

	.degustations {
		$color: #f7eadd;

		.tileBg {
			background-image: url(#{$imgPath}degustation.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			color: $color;
			border-color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #969490;
			}
		}
	}

	.feedback {
		$color: #ffffff;

		.tileBg {
			background-image: url(#{$imgPath}feedback.jpg);
		}

		h1 {
			color: $color;
		}
		.transparentBordered {
			color: $color;
			border-color: $color;
		}

		&:hover {
			.transparentBordered {
				color: #947442;
			}
		}
	}

	.left {
		float: left;
		margin: 0 $margin 0 0;

		.leftTop {
			margin: 0 0 $margin 0;
		}

		.cultureCentreDescription {

			width: 437px;
			height: 331px;
			margin: 0 $margin 0 0;
		}
		.tours {
			width: 259px;
			height: 331px;
		}
		.gallery {
			width: 440px;
			height: 301px;
		}
		.videos {
			width: 256px;
			height: 301px;
			margin: 0 $margin 0 0;
		}
	}
	.right {
		float: left;

		.degustations {
			width: 312px;
			height: 409px;
			margin: 0 0 $margin 0;
		}
		.feedback {
			width: 312px;
			height: 223px;
		}
	}

	.cultureCentreItem {
		padding: 13px 12px;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 20px 30px;
		}

			h1 {
			font-size: 26px;
			font-weight: bold;
			color: #ffffff;
			margin-bottom: 10px;
			text-transform: uppercase;
			line-height: 1.2;
		}

		.transparentBordered {
			font-size: 16px;
			padding: 3px 9px;
			border: 2px solid;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.cultureCentreWrapper {

		$margin: 8px;

		.top {
			height: 332px;
			margin-bottom: $margin;

			.cultureCentreDescription {
				height: 100%;
				width: 438px;
				margin-right: $margin;
			}

			.tours {
				height: 100%;
				width: 242px;
			}
		}

		.bottom {

			.leftBottom {
				float: left;
				width: 438px;
				margin-right: $margin;

				.gallery {
					width: 100%;
					height: 301px;
					margin-bottom: $margin;
				}

				.videos {
					width: 100%;
					height: 275px;
				}
			}

			.rightBottom {
				float: left;
				width: 242px;

				.degustations {
					width: 100%;
					height: 411px;
					margin-bottom: $margin;
				}

				.feedback {
					height: 165px;
					width: 100%;
				}
			}
		}
	}
}