@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.productionProcessWrapper {
	width: 100%;
	position: relative;
	margin-top: 145px;


	.productionProcessItem {
		width: 100%;
		height: 527px;
		position: relative;
		@extend %bg-image-cover;

		h1 {
			text-transform: uppercase;
			font-size: 26px;
			margin-bottom: 15px;
			line-height: 1.2;
			color: #be996f !important;
		}
		.content {
			font-size: 16px;
			line-height: 1.5;
		}
	}

	.hsContainer {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;
		opacity: 1;
	}
	.hsContent {
		position: absolute;
		background: rgba(0, 0, 0, 0.50);
		padding: 20px;
		box-sizing: content-box;
		/*		max-width: 450px;
				margin: -150px auto 0 auto;
				display: table-cell;
				vertical-align: middle;
				color: #ebebeb;
				padding: 0 8%;
				text-align: center*/
	}
	.bcg {
		background-repeat: no-repeat;
		background-size: 1024px;
		background-attachment: fixed;
		height: 100%;
		width: 100%;
	}


	.textWrapper {
		position: absolute;
	}

	.whiteYard {
		h1 {
			color: #ffffff;
		}
		.content {
			color: #ffffff;
		}
		.textWrapper, .hsContent {
			bottom: 69px;
			left: 55px;
			width: 500px;
		}
	}
	.redYard {
		h1 {
			color: #b8d8f3;
		}
		.content {
			color: #b8d8f3;
		}
		.textWrapper, .hsContent {
			top: 68px;
			left: 57px;
			width: 381px;
		}
	}
	.luxuryWineProduction {
		h1 {
			color: #c6bcb5;
		}
		.content {
			color: #c6bcb5;
		}
		.textWrapper, .hsContent {
			bottom: 28px;
			left: 44px;
			width: 700px;
		}
	}


	.verticalNavigation {
		position: fixed;
		top: 145px;
		left: 50%;
		margin-left: 520px;
		color: #ffffff;
		text-align: center;
		font-size: 12px;
		line-height: 10px;

		a {
			color: #ffffff;
			text-decoration: none;

			&:hover, &.active {
				color: #c49a6c;
				text-decoration: underline;
			}
		}
	}
}

#pp-slide-1 {
	.hsContent {
		color: #ffffff;
		bottom: 61px;
		left: 60px;
		width: 500px;
	}
}
#pp-slide-2 {
	.hsContent {
		bottom: 61px;
		left: 60px;
		width: 500px;

		h1 {
			color: #ab1a29;
		}

		.content {
			color: #ffffff;
		}
	}
}
#pp-slide-3 {
	.hsContent {
		bottom: 61px;
		left: 60px;
		width: 500px;

		.content {
			color: #ffffff;
		}
	}
}
#pp-slide-4 {
	.hsContent {
		top: 57px;
		right: 30px;
		width: 500px;

		h1 {
			color: #ffffff;
		}
		.content {
			color: #ffffff;
		}
	}
}
#pp-slide-5 {
	.hsContent {
		color: #ffffff;
		bottom: 27px;
		right: 42px;
		width: 463px;
	}
}
#pp-slide-6 {
	.hsContent {
		color: #ffffff;
		top: 53px;
		left: 58px;

		h1 {
			color: #f6c79b;
		}
		.content {
			width: 851px;
		}
	}
}
#pp-slide-7 {
	.hsContent {
		color: #ffffff;
		bottom: 85px;
		left: 60px;
		width: 362px;
	}
}
#pp-slide-8 {
	.hsContent {
		color: #ffffff;
		top: 54px;
		right: 20px;
		width: 500px;
	}
}
#pp-slide-9 {
	.hsContent {
		color: #ffffff;
		bottom: 45px;
		left: 58px;
		width: 380px;
	}
}
#pp-slide-10 {
	.hsContent {
		color: #ffffff;
		top: 77px;
		left: 60px;
		width: 371px;
	}
}
#pp-slide-11 {
	.hsContent {
		color: #ffffff;
		top: 53px;
		left: 56px;
		width: 457px;

		h1 {
			color: #f9de81;
		}
	}
}
#pp-slide-12 {
	.hsContent {
		color: #ffffff;
		top: 61px;
		right: 60px;
		width: 418px;
	}
}
#pp-slide-13 {
	.hsContent {
		color: #ffffff;
		top: 60px;
		left: 60px;
		width: 324px;
	}
}
#pp-slide-14 {
	.hsContent {
		color: #ffffff;
		bottom: 50px;
		right: 60px;
		width: 415px;

		h1 {
			color: #61b8a7;
		}
	}
}
#pp-slide-15 {
	.hsContent {
		color: #ffffff;
		bottom: 45px;
		left: 60px;
		width: 358px;
	}
}
#pp-slide-16 {
	.hsContent {
		color: #ffffff;
		top: 74px;
		left: 57px;
		width: 450px;

		h1 {
			color: #3059d5;
		}
	}
}


@media (min-width: 768px) and (max-width: 1050px) {

	.productionProcessWrapper {
		margin-top: 0;

		.sectionBg {
			background-size: cover;
			background-attachment: inherit;
		}

		.horizontalNavigation {
			text-align: center;
			width: 100%;
			color: #ffffff;
			font-size: 12px;
			line-height: 10px;
			margin-bottom: 55px;

			a {
				color: #ffffff;
				text-decoration: none;
				font-size: 11px;
				width: 12%;
				display: inline-block;
				vertical-align: middle;

				&:hover {
					color: #c49a6c;
					text-decoration: underline;
				}
			}
			& a:first-child {
				text-align: left;

			}
			span {
				font-size: 13px;
			}
		}

		.redYard {
			.textWrapper {
				top: 25px;
				left: 25px;
				width: 346px;
			}
		}

		.luxuryWineProduction {
			.textWrapper {
				width: 600px;
			}
		}
	}

	#pp-slide-6 {
		left: -6px;
		
		.hsContent .content {
			width: 635px;
		}
	}
}

@media (min-height: 1050px) {

	.productionProcessWrapper .bcg {
		background-size: 75%;
	}
}
