@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.shaboClubWrapper {
	color: #ffffff;

	.shaboClubContent {
		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 25px;
			margin-bottom: 35px;
		}
	}

	h1 {
		font-size: 26px;
		margin-bottom: 25px;
	}

	.image {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 180px;
		}
	}

	.text {
		margin: 35px 4% 0 0;
		padding-right: 2%;
		float: left;
		width: 50%;

		@media (min-width: 320px) and (max-width: 767px) {
			float: none;
			width: 100%;
			margin: 35px 0 0;
		}

		.content {

			font-size: 12px;
			line-height: 20px;
		}
	}

	.offers {
		margin-top: 35px;
		float: left;
		width: 45%;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 100%;
			float: none;
		}

		h1 {
			margin-bottom: 20px;
		}

		.transparentBordered {
			font-size: 16px;
			color: #ffffff;
			margin-bottom: 20px;
			text-decoration: underline;

		}
	}

	.askExpertBtn, .showRegistration {
		float: left;

		&:hover {
			color: #c49a6c;
			cursor: pointer;
			text-decoration: underline;
		}
	}

	.getDiscountPopup {
		display: none;

		&.visible {
			display: block;
		}
	}

	.askExpertWrapper, .getDiscountPopup {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 999;

		h1 {
			font-size: 26px;
			margin-bottom: 50px;
		}

		.askExpertBackground, .getDiscountBackground {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.5);
		}

		.closeAskExpertBtn, .closeGetDiscountBtn {
			position: absolute;
			top: 15px;
			right: 15px;
			width: 19px;
			height: 19px;
			opacity: 0.8;
			@include transition(opacity 150ms ease-in-out 0s);

			&:hover {
				cursor: pointer;
				opacity: 1;
			}
		}

		.askExpertFormWrap, .askExpertErrorWrap, .getDiscountPopupContent, .getDiscountSuccessPopupContent {
			position: absolute;
			width: 610px;
			background: #000;
			left: 50%;
			top: 50%;
			margin-top: -154px;
			margin-left: -305px;
			color: #FFFFFF;
			padding: 35px 125px;
			text-align: center;
			box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
			@include transition(box-shadow 150ms ease-in-out 0s);

			.askExpertForm, .getDiscountForm {
				width: 100%;

				textarea, input {
					background: none;
					border: 2px solid #ffffff;
					color: #ffffff;
					font-size: 16px;
					text-transform: uppercase;
					text-align: center;
					padding: 7px;
					margin-bottom: 24px;
					width: 100%;
				}

				.transparentBordered {
					padding: 3px 25px;
				}
			}

			.content {
				margin-bottom: 50px;
			}

			.transparentBordered {
				font-size: 16px;
				padding: 3px 9px;
				border: 2px solid #ffffff;
				color: #ffffff;
				margin: 0 15px;
				@include transition (all 0.2s ease-in-out 0s);

				&:hover {
					cursor: pointer;
					background: #ffffff;
					color: #000000;
					border-color: #000000;
				}
			}
		}

		.getDiscountPopupContent, .getDiscountSuccessPopupContent {
			margin-top: -330px;

			h1 {
				margin-bottom: 30px;
			}
			.description {
				margin-bottom: 30px;
			}
			
			.transparentBordered {
				text-decoration: none;
				padding: 5px 30px !important;
			}
		}

		.getDiscountSuccessPopupContent {
			display: none;
			margin-top: -85px;
		}
	}

	.loginPopup {
		float: left;

		&:hover {
			color: #c49a6c;
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.shaboClubWrapper {

		.image {
			height: 285px;
		}

		.text {
			float: none;
			width: 100%;
			padding-right: 0;
		}

		.offers {
			padding-left: 0;
			margin-top: 85px;
			width: 100%;

			.transparentBordered {
				float: left;
			}
		}
	}
}

.offerItem {

	&:hover {
		cursor: pointer;
	}
}