@import url(http://fonts.googleapis.com/css?family=Open+Sans:700,400&subset=latin,cyrillic);
@font-face {
  font-family: Futura;
  font-weight: normal;
  font-style: normal;
  src: url("/fonts/futura/futura.eot");
  src: url("/fonts/futura/futura.eot?#iefix") format("embedded-opentype"), url("/fonts/futura/futura.woff") format("woff"), url("/fonts/futura/futura.ttf") format("truetype"), url("/fonts/futura/futura.svg#Futura") format("svg"); }
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  position: relative;
  width: 100%;
  height: 100%; }

body {
  background-size: cover;
  background-position: center center; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

#modules {
  position: relative;
  width: 100%;
  height: auto; }

module {
  display: none; }
  module.active {
    display: block;
    height: auto; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
body {
  background-color: #000000; }

body, a {
  font-family: 'Liberation Serif', sans-serif; }

h1, h2, h3, h4, h5, h6, .header, #header {
  font-family: 'Open Sans', sans-serif; }
  h1 p, h2 p, h3 p, h4 p, h5 p, h6 p, .header p, #header p {
    font-family: 'Open Sans', sans-serif; }

.uppercase {
  text-transform: uppercase; }

#modules, #header {
  position: relative;
  width: 1024px;
  margin: 0 auto; }
  @media (min-width: 320px) and (max-width: 767px) {
    #modules, #header {
      width: 100%; } }

.module {
  cursor: pointer; }

a.tileItem {
  display: block;
  text-decoration: none; }

.blurred {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='5'); }
  @media (min-width: 320px) and (max-width: 767px) {
    .blurred {
      display: none !important; } }

#header {
  padding: 30px 0 50px;
  position: relative; }
  @media (min-width: 1051px) {
    #header.history {
      position: fixed;
      z-index: 1;
      background: black;
      left: 50%;
      margin-left: -512px;
      top: 0; } }
  @media (min-width: 320px) and (max-width: 767px) {
    #header {
      width: 100%;
      height: 150px; } }
  #header .logo {
    position: absolute;
    left: 0;
    top: 30px;
    float: left;
    height: 60px;
    z-index: 5; }
    #header .logo:hover {
      cursor: pointer; }
    #header .logo .mainLogo {
      background-image: url(/img/spritesheet.png);
      background-position: 0px 0px;
      width: 195px;
      height: 61px; }
    @media (min-width: 320px) and (max-width: 767px) {
      #header .logo {
        left: 50%;
        margin-left: -97.5px;
        top: 50%;
        margin-top: -30px; } }
  #header .menu {
    float: right;
    position: relative;
    padding: 20px 0 0 0; }
    #header .menu .menuContent {
      height: 45px;
      width: 100%;
      position: relative; }
      #header .menu .menuContent li {
        float: left;
        height: 100%;
        position: relative;
        display: block;
        margin: 0 15px; }
        #header .menu .menuContent li a {
          height: 100%;
          color: #787878;
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          position: relative; }
          #header .menu .menuContent li a p {
            text-align: center;
            font-size: 14px;
            font-weight: 400; }
          #header .menu .menuContent li a .menuIcon {
            height: 23px;
            position: relative;
            margin: 0 auto 2px; }
            #header .menu .menuContent li a .menuIcon.cultureCentreIcon {
              width: 16px;
              background-image: url(/img/spritesheet.png);
              background-position: -28px -61px;
              width: 16px;
              height: 23px; }
            #header .menu .menuContent li a .menuIcon.companyIcon {
              width: 26px;
              background-image: url(/img/spritesheet.png);
              background-position: -12px -103px;
              width: 26px;
              height: 23px; }
            #header .menu .menuContent li a .menuIcon.productionIcon {
              width: 12px;
              background-image: url(/img/spritesheet.png);
              background-position: 0px -103px;
              width: 12px;
              height: 23px; }
            #header .menu .menuContent li a .menuIcon.contactsIcon {
              width: 19px;
              background-image: url(/img/spritesheet.png);
              background-position: -38px -103px;
              width: 19px;
              height: 23px; }
          #header .menu .menuContent li a:hover {
            color: #ffffff; }
          #header .menu .menuContent li a.active {
            color: #c49a6c; }
            #header .menu .menuContent li a.active p.description {
              text-decoration: underline; }
        #header .menu .menuContent li .cultureCentreModule:hover .menuIcon {
          background-position: -70px -61px; }
        #header .menu .menuContent li .cultureCentreModule.active .menuIcon {
          background-position: -98px -61px; }
        #header .menu .menuContent li .companyModule:hover .menuIcon {
          background-position: -44px -61px; }
        #header .menu .menuContent li .companyModule.active .menuIcon {
          background-position: -114px -61px; }
        #header .menu .menuContent li .productionModule:hover .menuIcon {
          background-position: -86px -61px; }
        #header .menu .menuContent li .productionModule.active .menuIcon {
          background-position: -159px -61px; }
        #header .menu .menuContent li .contactsModule:hover .menuIcon {
          background-position: -171px -61px; }
        #header .menu .menuContent li .contactsModule.active .menuIcon {
          background-position: -140px -61px; }
      #header .menu .menuContent li:last-child {
        margin-right: 0; }
  #header .fullMenu {
    padding: 30px 0 50px 20px;
    position: absolute;
    top: 0;
    right: -5px;
    width: 1044px;
    background: #000000;
    color: #ffffff;
    z-index: 2; }
    @media (min-width: 320px) and (max-width: 767px) {
      #header .fullMenu {
        position: relative;
        width: 100%;
        right: auto; } }
    #header .fullMenu .fullMenuContent {
      padding: 47px 0 0 0; }
      @media (min-width: 320px) and (max-width: 767px) {
        #header .fullMenu .fullMenuContent {
          padding: 120px 0 0 0; } }
      #header .fullMenu .fullMenuContent .logoutButton {
        display: none; }
      #header .fullMenu .fullMenuContent a {
        color: #fff;
        text-decoration: none; }
        #header .fullMenu .fullMenuContent a:visited {
          color: #ffffff; }
      #header .fullMenu .fullMenuContent .column {
        float: right;
        margin-left: 42px; }
        @media (min-width: 320px) and (max-width: 767px) {
          #header .fullMenu .fullMenuContent .column {
            float: none;
            margin-left: 0;
            margin-bottom: 50px; } }
        #header .fullMenu .fullMenuContent .column p.last {
          margin-bottom: 10px; }
      #header .fullMenu .fullMenuContent h3 {
        margin-bottom: 10px; }
        @media (min-width: 320px) and (max-width: 767px) {
          #header .fullMenu .fullMenuContent h3 {
            font-size: 30px;
            font-weight: 700;
            line-height: 20px;
            text-align: center;
            font-family: 'Open Sans', Arial, sans-serif;
            margin-bottom: 35px; } }
        #header .fullMenu .fullMenuContent h3:hover a {
          cursor: pointer;
          color: #876948;
          text-decoration: underline; }
      #header .fullMenu .fullMenuContent p {
        font-size: 12px;
        line-height: 1.6;
        text-transform: none; }
        @media (min-width: 320px) and (max-width: 767px) {
          #header .fullMenu .fullMenuContent p {
            font-family: 'Open Sans', Arial, sans-serif;
            font-size: 20px;
            font-weight: 400;
            line-height: 19px;
            text-align: center;
            margin-bottom: 16px; } }
        #header .fullMenu .fullMenuContent p a:hover {
          cursor: pointer;
          color: #876948;
          text-decoration: underline; }
        #header .fullMenu .fullMenuContent p a.active {
          cursor: pointer;
          color: #876948;
          text-decoration: underline; }
  #header .contentCover {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.1s linear 0s;
    -moz-transition: all 0.1s linear 0s;
    transition: all 0.1s linear 0s; }
    #header .contentCover.hidden {
      visibility: hidden;
      opacity: 0;
      /*			z-index: -5;*/ }
    #header .contentCover:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.3); }
  #header .fullMenuToggle {
    position: absolute;
    right: -148px;
    top: 29px;
    width: 19px;
    height: 19px;
    z-index: 2;
    cursor: pointer; }
    @media (min-width: 320px) and (max-width: 767px) {
      #header .fullMenuToggle {
        top: 20px;
        right: 16px;
        width: 45px !important;
        height: 45px !important;
        border: 13px solid #000000; } }
    #header .fullMenuToggle.Open {
      background-image: url(/img/spritesheet.png);
      background-position: -88px -84px;
      width: 19px;
      height: 19px; }
      #header .fullMenuToggle.Open:hover {
        background-position: -146px -84px; }
    #header .fullMenuToggle.Close {
      background-image: url(/img/spritesheet.png);
      background-position: -107px -84px;
      width: 19px;
      height: 19px; }
    #header .fullMenuToggle:hover {
      cursor: pointer; }
    @media (min-width: 1024px) and (max-width: 1366px) {
      #header .fullMenuToggle {
        right: -50px; } }
  #header .ageCheck {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -9;
    background: rgba(0, 0, 0, 0.8);
    -webkit-transition: all 0.1s ease-in-out 0s;
    -moz-transition: all 0.1s ease-in-out 0s;
    transition: all 0.1s ease-in-out 0s; }
    #header .ageCheck.visible {
      z-index: 999;
      visibility: visible;
      opacity: 1; }
    #header .ageCheck .ageCheckContent {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 560px;
      background: #000;
      padding: 50px;
      text-align: center;
      box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75); }
      #header .ageCheck .ageCheckContent .ageLogo {
        font-weight: bold;
        padding: 0 63px 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid #ffffff;
        width: 100%; }
        #header .ageCheck .ageCheckContent .ageLogo img {
          width: 100%; }
      #header .ageCheck .ageCheckContent .warning {
        color: #ffffff;
        margin-bottom: 17px;
        line-height: 1.2; }
        #header .ageCheck .ageCheckContent .warning .golded {
          color: #c49a6c; }
      #header .ageCheck .ageCheckContent .transparentBordered {
        font-size: 18px;
        padding: 7px 9px;
        border: 2px solid #ffffff;
        color: #ffffff;
        margin: 0;
        width: 55px;
        -webkit-transition: all 0.1s ease-in-out 0s;
        -moz-transition: all 0.1s ease-in-out 0s;
        transition: all 0.1s ease-in-out 0s; }
        #header .ageCheck .ageCheckContent .transparentBordered:hover {
          cursor: pointer;
          background: #ffffff;
          color: #000000; }

#footer {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  color: #585858;
  font-size: 12px;
  line-height: 1;
  padding: 45px 0 55px; }
  @media (min-width: 320px) and (max-width: 767px) {
    #footer {
      width: 100%;
      padding: 0 30px;
      margin-bottom: 30px;
      margin-top: 25px; } }
  #footer .leftColumn {
    float: left; }
  #footer .rightColumn {
    float: right; }
    #footer .rightColumn .images a {
      width: 20px;
      height: 19px;
      display: inline-block; }
      #footer .rightColumn .images a.vkIcon {
        background-image: url(/img/spritesheet.png);
        background-position: -68px -84px;
        width: 20px;
        height: 19px; }
        #footer .rightColumn .images a.vkIcon:hover {
          background-position: -28px -84px; }
      #footer .rightColumn .images a.fbIcon {
        background-image: url(/img/spritesheet.png);
        background-position: -126px -84px;
        width: 20px;
        height: 19px; }
        #footer .rightColumn .images a.fbIcon:hover {
          background-position: -48px -84px; }
  #footer .joinSocial {
    float: right;
    text-align: right; }
  #footer .images {
    float: right;
    margin-left: 15px; }

#lightGallery-action {
  -webkit-transition: all 150ms ease-in-out 0s;
  -moz-transition: all 150ms ease-in-out 0s;
  transition: all 150ms ease-in-out 0s; }

.loginPopupContent .socialLogin {
  /*		@media (min-width: 768px) and (max-width: 1050px) {
  			padding: 40px;
  		}*/ }

.socialLogin {
  margin-bottom: 30px; }
  @media (min-width: 320px) and (max-width: 767px) {
    .socialLogin {
      margin-bottom: 15px; } }
  .socialLogin .socialLoginBtn {
    float: left;
    width: 229px;
    height: 43px;
    opacity: 0.8;
    -webkit-transition: opacity 150ms ease-in-out 0s;
    -moz-transition: opacity 150ms ease-in-out 0s;
    transition: opacity 150ms ease-in-out 0s;
    padding-left: 42px;
    padding-top: 13px;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    /*		@media (min-width: 768px) and (max-width: 1050px) {
    			width: 189px;
    			height: 39px;
    			font-size: 10px;
    		}*/ }
    @media (min-width: 320px) and (max-width: 767px) {
      .socialLogin .socialLoginBtn {
        width: 152px;
        height: 37px;
        font-size: 8px; } }
    .socialLogin .socialLoginBtn:hover {
      cursor: pointer;
      opacity: 1; }
    .socialLogin .socialLoginBtn.disabled {
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%); }
  .socialLogin .facebookLoginBtn {
    background-image: url("/img/facebookLoginBtn.png");
    margin-right: 12px; }
    @media (min-width: 320px) and (max-width: 767px) {
      .socialLogin .facebookLoginBtn {
        margin-right: 5px; } }
  .socialLogin .vkLoginBtn {
    background-image: url("/img/vkLoginBtn.png"); }

.registrationPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; }
  .registrationPopup .closeRegistrationPopupBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); }
  .registrationPopup .closeRegistrationPopupBtn {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 19px;
    height: 19px;
    background-image: url(/img/spritesheet.png);
    background-position: -107px -84px;
    width: 19px;
    height: 19px;
    opacity: 0.8;
    -webkit-transition: opacity 150ms ease-in-out 0s;
    -moz-transition: opacity 150ms ease-in-out 0s;
    transition: opacity 150ms ease-in-out 0s; }
    .registrationPopup .closeRegistrationPopupBtn:hover {
      cursor: pointer;
      opacity: 1; }
  .registrationPopup .registrationPopupContent {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -305px;
    color: #FFFFFF;
    padding: 35px 70px;
    text-align: center;
    box-shadow: 0 0 50px 20px rgba(60, 60, 60, 0.75);
    -webkit-transition: box-shadow 150ms ease-in-out 0s;
    -moz-transition: box-shadow 150ms ease-in-out 0s;
    transition: box-shadow 150ms ease-in-out 0s;
    /*		@media (min-width: 768px) and (max-width: 1050px) {
    			width: 510px;
    			padding: 35px 60px;
    			margin-left: -255px;
    		}*/ }
    @media (min-width: 320px) and (max-width: 767px) {
      .registrationPopup .registrationPopupContent {
        width: 370px;
        padding: 15px 30px;
        margin-left: -185px; } }
    .registrationPopup .registrationPopupContent.disabled {
      box-shadow: 0 0 40px 15px rgba(34, 34, 34, 0.75); }
    .registrationPopup .registrationPopupContent h1 {
      font-size: 26px;
      margin-bottom: 33px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .registrationPopupContent h1 {
          margin-bottom: 15px; } }
    .registrationPopup .registrationPopupContent .agreedWithRules {
      font-weight: bold;
      margin-bottom: 30px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .registrationPopupContent .agreedWithRules {
          margin-bottom: 15px; } }
      .registrationPopup .registrationPopupContent .agreedWithRules .rulesPopup {
        color: #c49a6c;
        text-decoration: underline; }
      .registrationPopup .registrationPopupContent .agreedWithRules input[type=checkbox].css-checkbox {
        position: absolute;
        z-index: -1000;
        left: -1000px;
        overflow: hidden;
        clip: rect(0 0 0 0);
        height: 1px;
        width: 1px;
        margin: -1px;
        padding: 0;
        border: 0; }
      .registrationPopup .registrationPopupContent .agreedWithRules input[type=checkbox].css-checkbox + label.css-label {
        padding-left: 41px;
        height: 32px;
        display: inline-block;
        line-height: 33px;
        background-repeat: no-repeat;
        background-position: 0 0;
        font-size: 16px;
        vertical-align: middle;
        cursor: pointer; }
      .registrationPopup .registrationPopupContent .agreedWithRules input[type=checkbox].css-checkbox:checked + label.css-label {
        background-position: 0 -33px; }
      .registrationPopup .registrationPopupContent .agreedWithRules label.css-label {
        background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_995c9dfe78ba2f06c9eda81011706a4b.png);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
    .registrationPopup .registrationPopupContent .registrationForm h5 {
      margin-bottom: 26px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .registrationPopupContent .registrationForm h5 {
          margin-bottom: 15px; } }
    .registrationPopup .registrationPopupContent .registrationForm input {
      background: none;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 7px;
      margin-bottom: 24px; }
    .registrationPopup .registrationPopupContent .registrationForm .registrationNameWrap input {
      width: 215px;
      /*					@media (min-width: 768px) and (max-width: 1050px) {
      						width: 178px;
      					}*/ }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .registrationPopupContent .registrationForm .registrationNameWrap input {
          width: 145px; } }
    .registrationPopup .registrationPopupContent .registrationForm .registrationNameWrap input[name="firstName"] {
      margin-right: 30px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .registrationPopupContent .registrationForm .registrationNameWrap input[name="firstName"] {
          margin-right: 15px; } }
    .registrationPopup .registrationPopupContent .registrationForm .registrationAdditionalFieldsWrap input {
      width: 370px;
      /*					@media (min-width: 768px) and (max-width: 1050px) {
      						width: 100%;
      					}*/ }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .registrationPopupContent .registrationForm .registrationAdditionalFieldsWrap input {
          width: 100%; } }
    .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom {
      margin-top: 22px; }
      .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom .authorizationButton, .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom button[type="submit"] {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        padding: 7px;
        -webkit-transition: all 150ms ease-in-out 0s;
        -moz-transition: all 150ms ease-in-out 0s;
        transition: all 150ms ease-in-out 0s; }
        .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom .authorizationButton:hover, .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom button[type="submit"]:hover {
          cursor: pointer;
          background: #FFFFFF;
          color: #000; }
      .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom .authorizationButton {
        float: left; }
      .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom button[type="submit"] {
        float: right;
        width: 127px; }
        .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom button[type="submit"]:disabled, .registrationPopup .registrationPopupContent .registrationForm .registrationFormBottom button[type="submit"] .disabled {
          color: #333333;
          border-color: #333333; }
  .registrationPopup .registrationPopupSuccess, .registrationPopup .registrationPopupError, .registrationPopup .loginPopupError, .registrationPopup .loginPopupSuccess, .registrationPopup .registrationConfirmationPopupSuccess {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    margin-top: -153px;
    margin-left: -305px;
    color: #FFFFFF;
    padding: 35px 70px;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 767px) {
      .registrationPopup .registrationPopupSuccess, .registrationPopup .registrationPopupError, .registrationPopup .loginPopupError, .registrationPopup .loginPopupSuccess, .registrationPopup .registrationConfirmationPopupSuccess {
        width: 370px;
        margin-top: 0;
        margin-left: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 15px 30px; } }
    .registrationPopup .registrationPopupSuccess h1, .registrationPopup .registrationPopupError h1, .registrationPopup .loginPopupError h1, .registrationPopup .loginPopupSuccess h1, .registrationPopup .registrationConfirmationPopupSuccess h1 {
      font-size: 26px;
      margin-bottom: 49px; }
    .registrationPopup .registrationPopupSuccess p, .registrationPopup .registrationPopupError p, .registrationPopup .loginPopupError p, .registrationPopup .loginPopupSuccess p, .registrationPopup .registrationConfirmationPopupSuccess p {
      font-size: 16px;
      margin-bottom: 49px;
      line-height: 1.8; }
    .registrationPopup .registrationPopupSuccess button, .registrationPopup .registrationPopupError button, .registrationPopup .loginPopupError button, .registrationPopup .loginPopupSuccess button, .registrationPopup .registrationConfirmationPopupSuccess button {
      background: none;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 16px;
      text-align: center;
      padding: 7px 35px;
      -webkit-transition: all 150ms ease-in-out 0s;
      -moz-transition: all 150ms ease-in-out 0s;
      transition: all 150ms ease-in-out 0s; }
      .registrationPopup .registrationPopupSuccess button:hover, .registrationPopup .registrationPopupError button:hover, .registrationPopup .loginPopupError button:hover, .registrationPopup .loginPopupSuccess button:hover, .registrationPopup .registrationConfirmationPopupSuccess button:hover {
        cursor: pointer;
        background: #FFFFFF;
        color: #000; }
  .registrationPopup .registrationConfirmationPopupSuccess {
    margin-top: -65px;
    padding: 35px 25px; }
  .registrationPopup .loginPopupContent {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    margin-left: -305px;
    color: #FFFFFF;
    padding: 35px 70px;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 767px) {
      .registrationPopup .loginPopupContent {
        width: 370px;
        padding: 15px 30px;
        margin-left: -185px; } }
    .registrationPopup .loginPopupContent h1 {
      font-size: 26px;
      margin-bottom: 49px; }
    .registrationPopup .loginPopupContent .authorizationForm input {
      background: none;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 7px;
      margin-bottom: 24px;
      width: 370px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .loginPopupContent .authorizationForm input {
          width: 100%; } }
    .registrationPopup .loginPopupContent .authorizationForm .forgotPasswordLink {
      text-align: center;
      color: #c49a6c;
      text-decoration: underline; }
      .registrationPopup .loginPopupContent .authorizationForm .forgotPasswordLink:hover {
        cursor: pointer; }
    .registrationPopup .loginPopupContent .authorizationForm .authorizationFormBottom {
      margin-top: 50px; }
      .registrationPopup .loginPopupContent .authorizationForm .authorizationFormBottom button {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        padding: 7px 35px;
        -webkit-transition: all 150ms ease-in-out 0s;
        -moz-transition: all 150ms ease-in-out 0s;
        transition: all 150ms ease-in-out 0s; }
        .registrationPopup .loginPopupContent .authorizationForm .authorizationFormBottom button:hover {
          cursor: pointer;
          background: #FFFFFF;
          color: #000; }
  .registrationPopup .forgotPasswordWrapper {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    margin-top: -153px;
    margin-left: -305px;
    color: #FFFFFF;
    padding: 35px 70px;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 767px) {
      .registrationPopup .forgotPasswordWrapper {
        width: 370px;
        margin-top: 0;
        margin-left: 0;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        padding: 15px 30px; } }
    .registrationPopup .forgotPasswordWrapper h1 {
      font-size: 26px;
      margin-bottom: 49px; }
    .registrationPopup .forgotPasswordWrapper .forgotPasswordForm input {
      background: none;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 7px;
      margin-bottom: 24px;
      width: 370px; }
      @media (min-width: 320px) and (max-width: 767px) {
        .registrationPopup .forgotPasswordWrapper .forgotPasswordForm input {
          width: 100%; } }
    .registrationPopup .forgotPasswordWrapper .forgotPasswordForm p {
      color: #313131;
      font-size: 12px; }
    .registrationPopup .forgotPasswordWrapper .forgotPasswordForm .forgotPasswordFormBottom {
      margin-top: 50px; }
      .registrationPopup .forgotPasswordWrapper .forgotPasswordForm .forgotPasswordFormBottom button {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        padding: 7px 35px;
        -webkit-transition: all 150ms ease-in-out 0s;
        -moz-transition: all 150ms ease-in-out 0s;
        transition: all 150ms ease-in-out 0s; }
        .registrationPopup .forgotPasswordWrapper .forgotPasswordForm .forgotPasswordFormBottom button:hover {
          cursor: pointer;
          background: #FFFFFF;
          color: #000; }
  .registrationPopup .resetPasswordFormWrap {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    margin-top: -185px;
    margin-left: -305px;
    color: #FFFFFF;
    padding: 35px 70px;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 767px) {
      .registrationPopup .resetPasswordFormWrap {
        width: 370px; } }
    .registrationPopup .resetPasswordFormWrap .close {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 19px;
      height: 19px;
      background-image: url(/img/spritesheet.png);
      background-position: -107px -84px;
      width: 19px;
      height: 19px;
      opacity: 0.8;
      -webkit-transition: opacity 150ms ease-in-out 0s;
      -moz-transition: opacity 150ms ease-in-out 0s;
      transition: opacity 150ms ease-in-out 0s; }
      .registrationPopup .resetPasswordFormWrap .close:hover {
        cursor: pointer;
        opacity: 1; }
    .registrationPopup .resetPasswordFormWrap h1 {
      font-size: 26px;
      margin-bottom: 49px; }
    .registrationPopup .resetPasswordFormWrap .resetPasswordForm input {
      background: none;
      border: 2px solid #ffffff;
      color: #ffffff;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
      padding: 7px;
      margin-bottom: 24px;
      width: 370px; }
    .registrationPopup .resetPasswordFormWrap .resetPasswordForm p {
      color: #313131;
      font-size: 12px; }
    .registrationPopup .resetPasswordFormWrap .resetPasswordForm .error {
      opacity: 0;
      color: #ff5858;
      font-size: 13px;
      font-weight: 400;
      text-align: center; }
    .registrationPopup .resetPasswordFormWrap .resetPasswordForm .resetPasswordFormBottom {
      margin-top: 50px; }
      .registrationPopup .resetPasswordFormWrap .resetPasswordForm .resetPasswordFormBottom button {
        background: none;
        border: 2px solid #ffffff;
        color: #ffffff;
        font-size: 16px;
        text-align: center;
        padding: 7px 35px;
        -webkit-transition: all 150ms ease-in-out 0s;
        -moz-transition: all 150ms ease-in-out 0s;
        transition: all 150ms ease-in-out 0s; }
        .registrationPopup .resetPasswordFormWrap .resetPasswordForm .resetPasswordFormBottom button:hover {
          cursor: pointer;
          background: #FFFFFF;
          color: #000; }
  .registrationPopup .resetPasswordSuccess {
    position: absolute;
    width: 610px;
    background: #000;
    left: 50%;
    top: 50%;
    margin-top: -140px;
    margin-left: -305px;
    color: #FFFFFF;
    padding: 30px 70px;
    text-align: center; }
    @media (min-width: 320px) and (max-width: 767px) {
      .registrationPopup .resetPasswordSuccess {
        width: 370px; } }
    .registrationPopup .resetPasswordSuccess .close {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 19px;
      height: 19px;
      background-image: url(/img/spritesheet.png);
      background-position: -107px -84px;
      width: 19px;
      height: 19px;
      opacity: 0.8;
      -webkit-transition: opacity 150ms ease-in-out 0s;
      -moz-transition: opacity 150ms ease-in-out 0s;
      transition: opacity 150ms ease-in-out 0s; }
      .registrationPopup .resetPasswordSuccess .close:hover {
        cursor: pointer;
        opacity: 1; }
    .registrationPopup .resetPasswordSuccess h1 {
      font-size: 26px;
      margin-bottom: 30px; }
    .registrationPopup .resetPasswordSuccess p {
      font-size: 16px; }

.closeBtnSprite {
  background-image: url(/img/spritesheet.png);
  background-position: -107px -84px;
  width: 19px;
  height: 19px; }

#healthWarning {
  position: relative;
  max-width: 1366px;
  margin: 0 auto; }
  #healthWarning img {
    width: 100%; }

#modules {
  min-height: 70%; }

@media (min-width: 768px) and (max-width: 1050px) {
  #modules, #header {
    position: relative;
    width: 688px;
    margin: 0 auto; }

  #header .fullMenuToggle {
    right: 0;
    z-index: 2; }
  #header .languagesWrapper {
    right: -5px;
    z-index: 2; }
  #header .menu {
    padding: 20px 60px 0 0; }
    #header .menu .menuContent li {
      margin: 0 13px; }
      #header .menu .menuContent li a .menuIcon {
        -webkit-transform: scale(0.8);
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        transform: scale(0.8); }
      #header .menu .menuContent li a p {
        font-size: 10px; }
  #header .fullMenu .fullMenuContent {
    /*				h3 {
    					font-size: 12px;
    				}
    
    				p {
    					font-size: 10px;
    				}*/ }

  #footer {
    width: 688px; } }
.backButtonWrap {
  text-align: center;
  margin: 40px 0; }
  .backButtonWrap button {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px; }
    .backButtonWrap button:hover {
      cursor: pointer;
      text-decoration: underline; }

body.grey {
  background: #dadddc; }
  body.grey .text h1 {
    color: #515151 !important; }
  body.grey .text p {
    color: #515151 !important; }
  body.grey .text div {
    color: #515151 !important; }
  body.grey .degustationWrapper {
    color: #515151 !important;
    /*			h1 {
    				color: #515151 !important;
    			}
    			h3 {
    				color: #515151 !important;
    			}
    			p {
    				color: #515151 !important;
    			}*/ }
    body.grey .degustationWrapper button {
      color: #515151 !important; }
      body.grey .degustationWrapper button:hover {
        color: #c49a6c !important; }
  body.grey .feedbackWrapper > h1 {
    color: #515151; }
  body.grey .feedbackWrapper .feedbackList .feedbackItem {
    color: #515151; }
  body.grey .feedbackWrapper .sendFeedback {
    color: #515151; }
    body.grey .feedbackWrapper .sendFeedback textarea {
      color: #515151;
      border: 2px solid #515151; }
    body.grey .feedbackWrapper .sendFeedback .transparentBordered {
      color: #515151; }
      body.grey .feedbackWrapper .sendFeedback .transparentBordered:hover {
        color: #c49a6c; }
  body.grey .feedbackWrapper .moreFeedbackWrapper .transparentBordered {
    color: #515151; }
    body.grey .feedbackWrapper .moreFeedbackWrapper .transparentBordered:hover {
      color: #c49a6c; }
  body.grey .buttons button {
    color: #515151 !important; }
    body.grey .buttons button:hover {
      color: #c49a6c !important; }
  body.grey #header .fullMenu {
    background: none; }
    @media (min-width: 320px) and (max-width: 767px) {
      body.grey #header .fullMenu .fullMenuContent a {
        color: #515151; } }
  body.grey #header .menu .menuContent li a {
    color: #515151; }
    body.grey #header .menu .menuContent li a:hover {
      color: #FFFFFF; }
    body.grey #header .menu .menuContent li a.active {
      color: #c49a6c; }
  @media (min-width: 320px) and (max-width: 767px) {
    body.grey #header .contentCover {
      background: #dadddc; } }

.languagesWrapper {
  position: absolute;
  right: -156px;
  top: 70px; }
  @media (min-width: 1024px) and (max-width: 1366px) {
    .languagesWrapper {
      right: -55px; } }
  @media (min-width: 320px) and (max-width: 767px) {
    .languagesWrapper {
      right: 22px; } }
  .languagesWrapper .isoLang {
    background-color: rgba(255, 255, 255, 0.1); }
    .languagesWrapper .isoLang.active {
      color: #c49a6c; }
  .languagesWrapper .isoLang {
    font-family: 'Open Sans', Arial, sans-serif;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px;
    display: block; }
    .languagesWrapper .isoLang:hover {
      color: #c49a6c; }
    .languagesWrapper .isoLang.active {
      display: block; }

.rulesPopupContent {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 850px;
  height: 670px;
  z-index: 999;
  margin-left: -425px;
  margin-top: -335px;
  background-color: #000;
  color: #ffffff; }
  @media (min-width: 320px) and (max-width: 767px) {
    .rulesPopupContent {
      width: 370px;
      height: 535px;
      margin-left: -185px;
      margin-top: -267.5px; } }
  .rulesPopupContent .close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 19px;
    height: 19px;
    background-image: url(/img/spritesheet.png);
    background-position: -107px -84px;
    width: 19px;
    height: 19px;
    opacity: 0.8;
    -webkit-transition: opacity 150ms ease-in-out 0s;
    -moz-transition: opacity 150ms ease-in-out 0s;
    transition: opacity 150ms ease-in-out 0s; }
    .rulesPopupContent .close:hover {
      cursor: pointer;
      opacity: 1; }
  .rulesPopupContent h1 {
    font-size: 26px;
    text-align: center;
    margin: 45px 0 60px; }
  .rulesPopupContent .description {
    padding: 0 30px;
    height: 435px;
    overflow: auto;
    margin-bottom: 45px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 13px !important;
    line-height: 1.3 !important; }
    @media (min-width: 320px) and (max-width: 767px) {
      .rulesPopupContent .description {
        height: 270px; } }
    .rulesPopupContent .description div {
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 13px !important;
      line-height: 1.3 !important; }
    .rulesPopupContent .description p {
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 13px !important;
      line-height: 1.3 !important; }
  .rulesPopupContent.disabled {
    display: none; }
  .rulesPopupContent .buttons {
    text-align: center; }
  .rulesPopupContent button {
    background: none;
    border: 2px solid #ffffff;
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 7px 45px;
    -webkit-transition: all 150ms ease-in-out 0s;
    -moz-transition: all 150ms ease-in-out 0s;
    transition: all 150ms ease-in-out 0s; }
    .rulesPopupContent button:hover {
      cursor: pointer;
      background: #FFFFFF;
      color: #000; }

.rulesPopup:hover {
  cursor: pointer; }

/*# sourceMappingURL=base.css.map */
