@charset "UTF-8";
@import '../bourbon/_bourbon.scss';
@import '../base/_placeholders.scss';

.productCategories, .products, .articles {

	.productCategory, .product, .article {

		.inner {
			min-height: 300px;

			h2 {
				padding: 10px;
				background: rgba(0, 0, 0, 0.40);
			}
		}
	}

}

.articleCategories {
	.inner {
		min-height: 160px;
	}
}

.loadMoreDocuments {
	margin-top: 30px;
}

.mapWrapper {
	padding-left: 220px;

}

#map {
	position: relative;
	width: 1024px;
	height: 553px;
}

.map-pointer {
	position: absolute;
	top: 20px;
	left: 20px;
	font-weight: bold;
	width: 20px;
	height: 29px;
	z-index: 1;
	background-image: url("/img/export-markets/export-markets-pointer.svg");

	&:hover {
		cursor: hand;
	}
}