@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.productCategoryWrapper {

	$productWidth: 246px;
	$productHeight: 343px;
	$margin: 13px;

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 0 25px;
	}

	.categoryDescription {
		color: #FFFFFF;
		width: 100%;
		line-height: 1.4;
		margin-bottom: 50px;

		h1 {
			text-transform: uppercase;
			font-size: 22px;
			margin-bottom: 10px;
		}
		.content {
			font-size: 14px;
		}
	}

	.productItem {
		position: relative;
		float: left;
		width: $productWidth;
		height: $productHeight;
		@extend %bg-image-cover;
		margin: 0 $margin $margin 0;
		padding: 27px 20px 20px 20px;
		box-sizing: border-box;
		opacity: 1;
		color: #FFFFFF;
		text-align: center;
		font-weight: bold;
		@include transition(all 150ms ease-in-out 0s);
		overflow: hidden;

		@media (min-width: 320px) and (max-width: 767px) {
			width: 47%;
			margin: 0 3% 3% 0;
		}

		.image {
			height: 245px;
			text-align: center;
			margin-bottom: 22px;
			@include transition(transform 300ms ease-in-out 0s);
			
			img {
				height: 116%;
			}
		}
		.header {
			line-height: 1.2;
			font-size: 14px;
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 20px;
			width: 100%;
			min-height: 73px;
			z-index: 1;


			h1 {
				text-transform: uppercase;
			}
			h2 {
				font-weight: normal;
				@include transition(color 150ms ease-in-out 0s);
			}
		}

		.tileBg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@extend %bg-image-cover;
			z-index: -1;
			@include transition(all 50ms ease-in-out 0s);
		}
		.darkBg {
			background-color: rgba(0, 0, 0, 0.2) !important;
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}

		&:hover {
			cursor: pointer;

			.image {
				@include transform(scale(1.10));
/*
				background-color: rgba(0, 0, 0, 0.5);*/

				img {
					opacity: 0.8;
				}
			}

			.darkBg {
				opacity: 1;
			}

			.header {
				h2 {
					color: #ffffff !important;
				}
			}
		}
	}


}

@media (min-width: 1051px) {
	.productCategoryWrapper {

		.productCategoryProductsList {
			& .productItem:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {
	.productCategoryWrapper {
		$productWidth: 222px;
		$margin: 10px;

		.categoryDescription {
			width: 100%;
		}

		.productItem {
			width: $productWidth;
			margin-right: 11px;
		}

		.productCategoryProductsList {
			& .productItem:nth-child(3n) {
				margin-right: 0;
			}
		}
	}
}

.productCategoryWrapper {

	.backButtonWrap {

		button {
			color: #ffffff;

			&:hover {
				color: #c49a6c;
			}
		}
	}
}