@charset "UTF-8";
@import '../../../../../../css/base/_placeholders.scss';
@import '../../../../../../css/base/_variables.scss';

.faqsWrapper {
	$columnWidth: 485px;

	color: #ffffff;
	font-size: 12px;

	.image {
		width: 100%;
		height: 357px;
		@extend %bg-image-cover;

		@media (min-width: 320px) and (max-width: 767px) {
			height: 210px;
		}
	}

	h1 {
		font-size: 28px;
		margin: 35px 0 55px;
		color: #515151;

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}
	}

	.faqsList {

		@media (min-width: 320px) and (max-width: 767px) {
			padding: 0 30px;
		}

		.faqItem {
			margin-bottom: 20px;
		}


		h3 {
			font-size: 20px;
			margin-bottom: 15px;
		}

		.toggleCollapse {
			@include transition(color 0.3s linear 0s);
			color: #515151;

			&:hover {
				cursor: pointer;
				color: #c49a6c;
			}
			&.visible {
				color: #c49a6c;
			}

			span {
				@include transition(transform 0.3s linear 0s);
				display: inline-block;
				margin-left: 10px;
			}
			&.visible span {
				@include transform(rotate(180deg));
			}
		}

		.content {
			display: none;
			line-height: 1.8;
			padding: 10px 50px;
			width: 55%;
			color: #515151;

			@media (min-width: 320px) and (max-width: 767px) {
				width: 90%;
			}
		}
	}

	.loadMoreFaqsWrapper {
		display: none;
	}

	.buttons {
		margin: 77px 0 0 0;
		text-align: center;
	}

	.transparentBordered {
		font-size: 16px;
		padding: 3px 9px;
		border: 2px solid #ffffff;
		color: #ffffff;
		margin: 0 15px;
		@include transition (all 0.2s ease-in-out 0s);

		&:hover {
			cursor: pointer;
			background: #ffffff;
			color: #000000;
			border-color: #000000;
		}
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.faqsWrapper {

		.faqsList {

			.content {
				width: 85%;
			}
		}
	}
}