@charset "UTF-8";
@import '../../../../../../../css/base/_placeholders.scss';
@import '../../../../../../../css/base/_variables.scss';

.advicesWrap {

	@media (min-width: 320px) and (max-width: 767px) {
		padding: 0 30px;

	}
}
.advices {

	.advice {
		height: 550px;
		width: 100%;
		color: #ffffff;
		position: relative;

		@media (min-width: 320px) and (max-width: 767px) {
			height: auto;
		}

		.logo {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			@extend %bg-image-cover;

			@media (min-width: 320px) and (max-width: 767px) {
				position: relative;
				height: 335px;
			}
		}

		.adviceText {
			position: absolute;
			width: 540px;
			top: 108px;
			left: 400px;

			@media (min-width: 320px) and (max-width: 767px) {
				position: relative;
				width: auto;
				top: 0;
				left: 0;
			}

			h1 {
				font-size: 24px;
				margin-bottom: 10px;

				@media (min-width: 320px) and (max-width: 767px) {
					margin: 35px 0;

				}
			}
			.content {
				font-size: 16px;
				line-height: 21px;
			}
		}
	}
}

.bx-pager.bx-default-pager a {
	background: #ffffff;
	&:hover, &.active {
		background: #c49a6c;
	}

}

.bx-prev {
	left: 0;
	background-image: url(#{$imgPath}sliderNext.png);
	background-repeat: no-repeat;
	background-position: center;
	@include transform(rotate(180deg));

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}
.bx-next {
	right: 0;
	background-image: url(#{$imgPath}sliderNext.png);
	background-repeat: no-repeat;
	background-position: center;

	&:hover {
		background-color: rgba(0, 0, 0, 0.5);
	}
}

@media (min-width: 768px) and (max-width: 1050px) {

	.advices {

		.advice {

			.adviceText {
				width: 335px;
				left: 297px;
			}
		}
	}
}